In [1]:
name=input("Enter your name:")
age=input("Enter your age:")
print("Hello "+name+" Your age is " +age)

Enter your name:ahmad
Enter your age:21
Hello ahmadYour age is 21

In [34]:
whatIs=input("Enter Input:")
n=int(0);

try:
  whatIs=int(whatIs)
  print(whatIs)
except:
  print("Not a integer")
  n=1


try:
  whatIs=float(whatIs)
  print(whatIs)
  n=0
except:
  print("Not float")
  n=1


if(n==1):
  print("its String")

Enter Input:hi
Not a integer
Not float
its String

In [14]:
myList=['a','b','c']
print(myList)

myList.append('d')
print("after appending d: ")
print(myList)

myList.remove('a')
print("after removing a: ")
print(myList)

for al in myList:
  print(al.upper())

['a', 'b', 'c']
after appending d:
['a', 'b', 'c', 'd']
after removing a:
['b', 'c', 'd']
B
C
D

In [15]:
myList=["Ahmad","Umer"]
(tall,short)=myList

print(tall)
print (short)

Ahmad
Umer

In [16]:
n = int(input("Enter the number of entries: "))
d = {input("Enter key: "): input("Enter value: ") for _ in range(n)}

print(d)

Enter the number of entries: 5
Enter key: ahmad
Enter value: A
Enter key: Umer
Enter value: F
Enter key: ABD
Enter value: A
Enter key: ali
Enter value: C
Enter key: Noman
Enter value: B+
{'ahmad': 'A', 'Umer': 'F', 'ABD': 'A', 'ali': 'C', 'Noman': 'B+'}

In [19]:

l1 = input("Enter elements separated by space (for list 1): ").split()

print("List1:", l1)


l2 = input("Enter elements separated by space (for list 2): ").split()

print("List2:", l2)


l1=set(l1)
l2=set(l2)

#union
print("Union:", l1.union(l2) )


#intertsection
print("Intersection:", l1.intersection(l2) )



#diff
print("Difference", l1.difference(l2) )

Enter elements separated by space (for list 1): 1 2 3 4 5
List1: ['1', '2', '3', '4', '5']
Enter elements separated by space (for list 2): 3 4 5 6 7
List2: ['3', '4', '5', '6', '7']
Union: {'7', '4', '6', '5', '1', '3', '2'}
Intersection: {'5', '4', '3'}
Difference {'1', '2'}

In [24]:
n=input(("enter a number:"))
n=int(n)

if n>0 :
  print("positive")
elif n<0 :
  print("negative")
else :
  print("zero")

if n%2==0:
  print("even")
else:
  print("odd")

enter a number:7
positive
odd

In [26]:
for i in range(1,50):
  if i%3==0 and i%5==0:
    print("FizzBuzz ")
  elif i%3==0:
    print("Fizz ")
  elif i%5==0:
    print("Buzz ")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49

In [35]:

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)


num = int(input("Enter a non-negative integer: "))


if num < 0:
    print("Factorial is not defined for negative numbers.")
else:

    print("Factorial of", num, "is", factorial(num))

Enter a non-negative integer: 4
Factorial of 4 is 24

In [38]:

def is_prime(num):

    if num <= 1:
        return False
    if num <= 3:
        return True

    if num % 2 == 0 or num % 3 == 0:
        return False

    i = 5

    while i  < num:
        if num % i == 0:
            return False
        i =i+1;
    return True


number = int(input("Enter a number: "))


if is_prime(number):
    print(number ,"is a prime number." )
else:
    print({number}," is not a prime number.")

Enter a number: 97
97 is a prime number.

In [39]:
l = [2,3,4,5,6]
newlist = []

for x in l:
  newlist.append(x*x)

print(newlist)

[4, 9, 16, 25, 36]

In [40]:
d1 = {'a': 1, 'b': 2,'c': 3}
d2 = {'c': 4, 'd': 5,'a': 6}

d1.update(d2)
print(d1)

{'a': 6, 'b': 2, 'c': 4, 'd': 5}

In [41]:
mylist = [1,2,3,4,4,5,6]
mylist = list(dict.fromkeys(mylist))
print(mylist)

[1, 2, 3, 4, 5, 6]

In [52]:

is_palindrome = lambda phrase: phrase.lower() == phrase[::-1].lower()

user_input = input("Enter a phrase to check for palindrome: ")

if is_palindrome(user_input):
    print(user_input," is a palindrome.")
else:
    print(user_input," is not a palindrome.")

Enter a phrase to check for palindrome: ehhe
ehhe  is a palindrome.

In [53]:
def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    else:
        l = [0, 1]
        while len(l) < n:
            next_fib = l[-1] + l[-2]
            l.append(next_fib)
        return l

num_terms = int(input("Enter the number of terms: "))
fib_sequence = fibonacci(num_terms)
print(fib_sequence)

Enter the number of terms: 5
[0, 1, 1, 2, 3]

In [4]:

def cal_average(numbers):
    if not numbers:
        return None

    numeric_numbers = [num for num in numbers if isinstance(num, (int, float))]
    if len(numeric_numbers) != len(numbers):
        return None

    return sum(numeric_numbers) / len(numeric_numbers)


def get_numbers():
    numbers = []
    while True:
          num_str = input("Enter a number (or type 'done' to finish): ")
          if num_str.lower() == 'done':
              break
          num = float(num_str)
          numbers.append(num)

    return numbers


if __name__ == "__main__":
    numbers = get_numbers()
    average = cal_average(numbers)

    if average is not None:
        print("The average is:", average)
    else:
        print("Could not calculate the average. Please enter valid numeric input.")

Enter a number (or type 'done' to finish): 2
Enter a number (or type 'done' to finish): 2
Enter a number (or type 'done' to finish): 2
Enter a number (or type 'done' to finish): 2
Enter a number (or type 'done' to finish): 2
Enter a number (or type 'done' to finish): done
The average is: 2.0

In [54]:
for i in range(1,11):
  for j in range(1,11):
    print(i,"*",j,"=",i*j)
  print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [55]:

def register(users):
    username = input("Enter a username: ")
    if username in users:
        print("Username already exists. Please choose a different name.")
        return
    password = input("Enter a password: ")
    users[username] = password
    print("Registration successful!")


def login(users):
    username = input("Enter your username: ")
    if username not in users:
        print("Invalid username.")
        return False
    password = input("Enter your password: ")
    if password == users[username]:
        print("Login successful!")
        return True
    else:
        print("Incorrect password.")
        return False


users = {}

while True:
    action = input("Do you want to register(r), login(l), or quit(q)? ")
    if action.lower() == 'r':
        register(users)
    elif action.lower() == 'l':
        login(users)
    elif action.lower() == 'q':
        break
    else:
        print("Invalid action. Please try again.")

Do you want to register(r), login(l), or quit(q)? r
Enter a username: ahmad123
Enter a password: hello12
Registration successful!
Do you want to register(r), login(l), or quit(q)? l
Enter your username: ahmad1
Invalid username.
Do you want to register(r), login(l), or quit(q)? ahmad123
Invalid action. Please try again.
Do you want to register(r), login(l), or quit(q)? l
Enter your username: ahmad123
Enter your password: hello12
Login successful!
Do you want to register(r), login(l), or quit(q)? q

In [56]:

def word_frequency(text):

  words = text.lower().split()
  frequency = {}
  for word in words:
    frequency[word] = frequency.get(word, 0) + 1
  return frequency

word_frequency( "hello World hello")

{'hello': 2, 'world': 1}

In [1]:

def convert_temperature():

    temp_val = float(input("Enter temperature value: "))

    while True:
        unit = input("Enter unit (C for Celsius, F for Fahrenheit): ").upper()
        if unit in ('C', 'F'):
            break
        else:
            print("Invalid unit. Please enter 'C' or 'F'.")

    if unit == 'C':
        converted_temp = (temp_val * 9/5) + 32
        print(temp_val,"°C is equal to", converted_temp,"°F")
    else:
        converted_temp = (temp_val - 32) * 5/9
        print(temp_val," °F is equal to " ,converted_temp,"°C")

convert_temperature()

Enter temperature value: 10
Enter unit (C for Celsius, F for Fahrenheit): c
10.0 °C is equal to 50.0 °F