In [ ]:
#Q-1
name = input("Enter your name")
age=input("Enter your age")
print(f"Hello {name} having age {age}")

Enter your nameM kaif
Enter your age20
Hello M kaif having age 20

In [ ]:
#Q-2
value = input("Enter a value")
if "." in value:
    print("Entered value is float")
else:
  print("Entered value is int")

Enter a value12
Entered value is int

In [ ]:
#Q-3
arr=["abc","hello","okay","WHY"]
print(arr)
arr.append("hmm")
print(arr)
arr.remove("okay")
print(arr)
for word in arr:
  print(word.upper())

['abc', 'hello', 'okay', 'WHY']
['abc', 'hello', 'okay', 'WHY', 'hmm']
['abc', 'hello', 'WHY', 'hmm']
ABC
HELLO
WHY
HMM

In [ ]:
#Q-4
arr=('ai','bo','c','d','gh')
(first,second,*element)=arr
print(f"First element is {first} and second is {second}")

First element is ai and second is bo

In [ ]:
#Q-5
arr={"ahmed":4,"ali":3,"oka":5}
print(arr)

{'ahmed': 4, 'ali': 3, 'oka': 5}

In [23]:
#Q-6

list1_str = input("Enter elements of the first list, separated by spaces: ")
list1 = [int(x) for x in list1_str.split()]

list2_str = input("Enter elements of the second list, separated by spaces: ")
list2 = [int(x) for x in list2_str.split()]

# Convert lists to sets
set1 = set(list1)
set2 = set(list2)

# union
union_set = set1.union(set2)
print("Union:", union_set)

# intersection
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

# difference
difference_set = set1.difference(set2)
print("Difference (set1 - set2):", difference_set)

difference_set2 = set2.difference(set1)
print("Difference (set2 - set1):", difference_set2)

Enter elements of the first list, separated by spaces: 1 2 3 4
Enter elements of the second list, separated by spaces: 3 4 5 6
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (set1 - set2): {1, 2}
Difference (set2 - set1): {5, 6}

In [ ]:
#Q-7
val = input("Enter an integer")
val=int(val)
if val<0:
  print("Entered value is negative")
elif val>0:
  print("Entered value is positive")
else:
  print("Entered value is zero")

if val%2==0:
  print("Entered value is even")
else:
  print("Entered value is odd")

Enter an integer25
Entered value is positive
Entered value is odd

In [ ]:
#Q-8

for i in range(1,51):
  if i%3==0 and i%5==0:
    print(f"{i} FizzBuzz")
  elif i%3==0:
    print(f"{i} Fizz")
  elif i%5==0:
    print(f"{i} Buzz")

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 FizzBuzz
48 Fizz
50 Buzz

In [2]:
#Q-9

n = int(input("Enter a non-negative integer: "))
if n < 0:
    print("Factorial is not defined for negative numbers")
    factorial=0
elif n == 0:
    factorial =1
else:
    factorial = 1
    for i in range(1, n + 1):
      factorial *= i
print(f"The factorial of {n} is {factorial}")

Enter a non-negative integer: 4
The factorial of 4 is 24

In [4]:
#Q-10

def is_prime(number):
  if number <= 1:
    return False
  for i in range(2, int(number**0.5) + 1):
    if number % i == 0:
      return False
  return True

number = int(input("Enter a number: "))

# Check if the number is prime
if is_prime(number):
  print(f"{number} is a prime number.")
else:
  print(f"{number} is not a prime number.")

Enter a number: 11
11 is a prime number.

In [5]:
#Q-11

arr=[]
print("Enter 3 numbers")
for i in range(3):
  arr.append(int(input()))
arr=[i*i for i in arr]
print(arr)

Enter 3 numbers
2
4
6
[4, 16, 36]

In [6]:
#Q-12

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'd': 5}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 4, 'c': 3, 'd': 5}

In [8]:
#Q-13

my_list = [6 ,1, 2, 3, 2, 4, 1, 5]
seen = set()
result = []
for item in my_list:
   if item not in seen:
       seen.add(item)
       result.append(item)
print(result)  # Output: [1, 2, 3, 4, 5]

[6, 1, 2, 3, 4, 5]

In [26]:
#Q-14

text = input("Enter a string: ")
processed_text = text.lower().replace(" ", "")
if (processed_text == processed_text[::-1]):
  print(f"'{text}' is a palindrome.")
else:
  print(f"'{text}' is not a palindrome.")

Enter a string: aba
'aba' is a palindrome.

In [11]:
#Q-15

# Get input from the user
n = int(input("Enter the number of Fibonacci numbers to generate: "))
fibonacci_sequence = []
a, b = 0, 1
for _ in range(n):
    fibonacci_sequence.append(a)
    a, b = b, a + b
print(f"The first {n} Fibonacci numbers are: {fibonacci_sequence}")

Enter the number of Fibonacci numbers to generate: 10
The first 10 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [13]:
#Q-16

num=0
i=int(input("Enter a range"))
for j in range(0,i):
  inp=int(input("Enter a number"))
  num+=inp
print(num/i)

Enter a range4
Enter a number1
Enter a number2
Enter a number3
Enter a number4
2.5

In [14]:
#Q-17

for i in range(1,11):
  for j in range(1,11):
    print(f"{i}*{j}={i*j} ")

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [17]:
#Q-18

system={"user1":"pass1","user2":"pass2","user3":"pass3"}
user=input("Enter a user")
if user in system:
  password=input("Enter a password")
  if password==system[user]:
    print("Welcome")
  else:
    print("Wrong password")
else:
  print("User not found")

Enter a useruser5
User not found

In [18]:
#Q-19

print("Enter 5 words")
dic={}
for i in range(5):
  word=input()
  if word in dic:
    dic[word]+=1
  else:
    dic[word]=1
print(dic)

Enter 5 words
hello
ok
wow
ok
hello
{'hello': 2, 'ok': 2, 'wow': 1}

In [21]:
#Q-20

n= float(input("Enter tmep: "))
flag=input("Enter c for celcius to fahrenheit or f for fahrenheit to celcius")
if flag == "c":
  print((n*9/5)+32)
else:
  print((n-32)*5/9)

Enter tmep: 10
Enter c for celcius to fahrenheit or f for fahrenheit to celciusf
-12.222222222222221