In [ ]:
#Q1 Hello Python

In [ ]:
name=input("Ente your name");
age=input("Enter your age");
print(f"Hello {name} Your age is {age}")

Ente your nameshaheer
Enter your age20
Hello shaheer Your age is 20

In [ ]:
#Q2 Data Type
data=input("Enter any value ");
if "." in data:
    print("You entered a float")
else:
  print("You entered int or a string")

Enter any value sdawd
You entered int or a string

In [ ]:
#Q3 List Modifications
spec_elem=['a','b','c',10,101,10101,"hello"];
print(spec_elem);
print("After removing hello")
spec_elem.remove('hello');
print(spec_elem)
print("After Adding World")
spec_elem.append("World")
print(spec_elem)

for i in spec_elem:
  if type(i) is str:
    cap="";
    for j in i:
      cap+=j.capitalize()
    print(cap)
  else:
    print(i)

['a', 'b', 'c', 10, 101, 10101, 'hello']
After removing hello
['a', 'b', 'c', 10, 101, 10101]
After Adding World
['a', 'b', 'c', 10, 101, 10101, 'World']
A
B
C
10
101
10101
WORLD

In [ ]:
#Q4 Tuple unpacking
tuple_elem= ('a','b','c','d','e','f')
(f,s,*el)=tuple_elem
print(f"First Elem : {f}, Second Elem:{s}")

First Elem : a, Second Elem:b

In [ ]:
#Q5 Dict Management
grades={"A":4,"B":3,"C":2,"D":3.7,"E":"4.23"}
print(grades)

{'A': 4, 'B': 3, 'C': 2, 'D': 3.7, 'E': '4.23'}

In [2]:
#Q6 Set operations

print("Enter a list of integers seperated by space")
list1=input("List1: ")

print("Enter a list of integers seperated by space")
list2=input("List2: ")

list1=[int(x) for x in list1.split(" ")]
list2=[int(x) for x in list2.split(" ")]

set1=set(list1)
set2=set(list2)


set3=set1.union(set2)
print("Union of Set 1 & 2")
print(set3)
set3=set1.difference(set2)
print("Difference of set1 & 2")
print(set3)
set3=set1.intersection(set2)
print("Intersection of set1 & 2")
print(set3)

Enter a list of integers seperated by space
List1: 1 2 3 4 5 6 7 8
Enter a list of integers seperated by space
List2: 3 4 2 1 9 10 11 5
Union of Set 1 & 2
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
Difference of set1 & 2
{8, 6, 7}
Difference of set1 & 2
{1, 2, 3, 4, 5}

In [ ]:
#Q7 Number checker
number=input("Enter a number");

number=float(number)
if (number>0):
  print("Positive number")
elif number<0:
  print("Negative number")
else:
  print("Zero")
if not number%2:
  print("Even")
else:
  print("Odd")

Enter a number-12
Negative number
Even

In [ ]:
#Q8 FizzBuz

for i in range(51):
  if i%3==0 and i%5==0:
    print(f" {i} FizzBuzz")
  elif i%3==0:
    print(f" {i} Fizz")
  elif i%5==0:
    print(f" {i} Buzz")

 0 FizzBuzz
 3 Fizz
 5 Buzz
 6 Fizz
 9 Fizz
 10 Buzz
 12 Fizz
 15 FizzBuzz
 18 Fizz
 20 Buzz
 21 Fizz
 24 Fizz
 25 Buzz
 27 Fizz
 30 FizzBuzz
 33 Fizz
 35 Buzz
 36 Fizz
 39 Fizz
 40 Buzz
 42 Fizz
 45 FizzBuzz
 48 Fizz
 50 Buzz

In [ ]:
#Q9 Factorial Calc
number = input("Enter a non-negative number ")

if int(number) < 0:
  print("Wrong format buddy");
  exit(1)

fact=1;
for i in range(1,int(number)+1):
  fact=fact*i;
print(fact)

Enter a non-negative number 5
120

In [ ]:
#Q10 Prime number checker
def is_prime(num:int):
  for i in range(2,int(num/2)):
    if num%i == 0:
      return False;
  return True;

number=input("Enter a positive number")
if int(number) < 0:
  print("Wrong format buddy");
  exit(1)
if is_prime(int(number)):
  print(f"{number } is prime");
else:
  print(f"{number } is not prime");

Enter a positive number5
5 is prime

In [ ]:
#Q11 List comprehension
norm_list=[]
print("Enter 5 numbers")
for i in range(5):
  num=int(input("Enter number : "))
  norm_list.append(num)

sqr_list=[i*i for i in norm_list];
print(sqr_list);

Enter ten numbers
Enter number : 1
Enter number : 2
Enter number : 5
Enter number : 11
Enter number : 12
Enter number : 14
Enter number : 16
Enter number : 2222
Enter number : 22
Enter number : 12
[1, 4, 25, 121, 144, 196, 256, 4937284, 484, 144]

In [ ]:
#Q12

dict1={'a':1,'b':12,"c":12}
dict2={'a':12,'e':100}
dict1.update(dict2)
print(dict1)

{'a': 12, 'b': 12, 'c': 12, 'e': 100}

In [ ]:
#Q13
oList=["1","2","4","10","12","13","1"]
alr_seen=set()
result=[]

for i in oList:
  if i not in alr_seen:
    alr_seen.add(i)
    result.append(i)
print(result)

['1', '2', '4', '10', '12', '13']

In [ ]:
#Q14 Palindrome Checker
word=input("Enter a string")
word.replace(" ","")
word.lower()

if word==word[::-1]:
  print("Is a Palindrome")
else:
  print("Not a palindrome")

Enter a stringaaabb
Not a palindrome

In [ ]:
#Q15 Fibonacci
num=int(input("Enter a number "))

fib_n=[0,1]
for i in range(2,num):
  fib_new = fib_n[i-2]+fib_n[i-1]
  fib_n.append(fib_new)
print(fib_n)

Enter a number14
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]

In [ ]:
#Q16 Average calc
num=int(input("Enter range"))
sum=0;
for i in range(0,num):
    sum+=int(input("Enter number"))

print(sum/num)

Enter range5
Enter number1
Enter number2
Enter number3
Enter number4
Enter number5
3.0

In [ ]:
#Q17 Multiplication
for i in range(1,11):
  for j in range(1,11):
    print(f"{i} x {j} = {i*j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
#q18
cred={'user1':"password1","user2":"password2"}
user=input("Enter your name")
passw=input("Enter your password")

if user in cred:
  if cred[user] == passw:
    print("Login Succesfull")
  else:
    print("Wrong password")
else:
  print("User doesn't exist")

Enter your nameuser43
Enter your password1
User doesn't exist

In [ ]:
#Q19
print("Enter 5 words")
words={}
for i in range(5):
  word=input()
  if word in words:
    words[word]+=1
  else:
    words[word]=1
print(words)

Enter 5 words
h
a
h
a
t
{'h': 2, 'a': 2, 't': 1}

In [ ]:
#Q20
num=float(input("Enter temp"))
choice=input("Enter 1 for C->F and 2 for F->C")
if(choice=='1'):
  print((num*9/5)+32)
elif choice=='2':
  print((num-32)*5/9)

Enter temp10
Enter 1 for C->F and 2 for F->C2
-12.222222222222221