In [6]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello {name},you are {age} years old!")

Enter your name: a
Enter your age: 50
Hello a,you are 50 years old!

In [3]:
data = input("Enter: ")
try:
    data = int(data)
    print("Integer")
except ValueError:
    try:
        data = float(data)
        print("Float")
    except ValueError:
        print("String")

Enter: 1
Integer

In [11]:
data = ["a","b","c","d","e","f"]
data.append("g")
data.remove("b")
for word in data:
    word=word.upper()
    print(word,end=" ")

A C D E F G

In [13]:
t = (1,2,3,4,5,6)
a=t[0]
b=t[1]
print(a,end="")
print(b,end="")

12

In [15]:
dic={
    "Student1":"A",
        "Student2":"B",
        "Student3":"C",
        "Student4":"D",
        "Student5":"E",
}
for key in dic:
    print(f"{key} : {dic[key]}")

Student1 : A
Student2 : B
Student3 : C
Student4 : D
Student5 : E

In [17]:
l1=[]
l2=[]
for i in range(5):
  l1.append(input("Enter int for list 1: "))
for i in range(5):
  l2.append(input("Enter int for list 2: "))
set1=set(l1)
set2=set(l2)
print(set1.intersection(set2))
print(set1.union(set2))
print(set1.difference(set2))

Enter int for l1: 1
Enter int for l1: 2
Enter int for l1: 3
Enter int for l1: 4
Enter int for l1: 5
Enter int for l1: 6
Enter int for l1: 7
Enter int for l1: 8
Enter int for l1: 9
Enter int for l1: 0

In [22]:
num = input("Enter number: ")
num=float(num)
if num <0:
  print("Negative")
elif num>0:
  print("Positive")
else:
  print("Zero")

if num%2==0:
  print("Even")
else:
  print("Odd")

Enter number: 2
Positive
Even

In [23]:
for i in range(50):
  if i%2 and i%5==0:
    print("FizzBuzz")
  elif i%2==0:
    print("Fizz")
  elif i%5==0:
    print("Buzz")

Fizz
Fizz
Fizz
FizzBuzz
Fizz
Fizz
Fizz
Fizz
Fizz
FizzBuzz
Fizz
Fizz
Fizz
Fizz
Fizz
FizzBuzz
Fizz
Fizz
Fizz
Fizz
Fizz
FizzBuzz
Fizz
Fizz
Fizz
Fizz
Fizz
FizzBuzz
Fizz
Fizz

In [25]:
number = input("Enter non negative integer: ")
number = int(number)
factorial=1
for i in range(1,number+1):
  factorial*=i
print(factorial)

Enter non negative integer: 5
120

In [34]:
number = input("Enter number: ")
number = int(number)
if(number<2):
  print("Not prime")
else:
  for i in range(2,number):
    if number%i==0:
      print("Not prime")
      break
  else:
    print("Prime")

Enter number: 15
Not prime

In [28]:
l = []
for i in range(10):
  l.append(int(input("Enter int: ")))
l = [i**2 for i in l]
print(l)

Enter int: 1
Enter int: 2
Enter int: 3
Enter int: 4
Enter int: 5
Enter int: 6
Enter int: 7
Enter int: 8
Enter int: 9
Enter int: 10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
dict1={
    "key1":"a",
        "key2":"b",
        "key3":"c",
        "key4":"d",
        "key5":"e",
}
dict2={
        "key4":"f",
            "key5":"g",
            "key6":"h",
            "key7":"i",
            "key8":"j",

}
dict1.update(dict2)
print(dict1)

{'key1': 'a', 'key2': 'b', 'key3': 'c', 'key4': 'f', 'key5': 'g', 'key6': 'h', 'key7': 'i', 'key8': 'j'}

In [36]:
l1=[1,1,2,3,4,5,6,7,7,8,9]
dict1={}
for i in l1:
  if(dict1.get(i)):
    l1.remove(i)
  else:
    dict1[i]=1
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
IsPalindrome = (
 lambda x: (x.lower().replace(" ","")) == (x.lower().replace(" ",""))[::-1]
)
string=input("Enter string: ")
if IsPalindrome(string):
  print("Palindrome")
else:
  print("Not palindrome")

Enter string: RaceCar
Palindrome

In [44]:
n = int(input("Enter n: "))
a=1
b=1
if(n==1):
  print(a)
elif(n==2):
  print(a,b)
else:
  print(a,b,end=" ")
  for i in range(n-2):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

Enter n: 10
1 1 2 3 5 8 13 21 34 55

In [45]:
l1=[]
for i in range(5):
  l1.append(int(input("Enter int: ")))
avg=0
for i in l1:
  avg+=i
avg/=len(l1)
print(avg)

Enter int: 5
Enter int: 10
Enter int: 15
Enter int: 1
Enter int: 5
7.2

In [48]:
for i in range(1,11):
  for j in range(1,11):
    print(f"{i} * {j} = {i*j}")
  print(" ")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [49]:
dict={
    "Username1":"Password1",
    "Username2":"Password2",
    "Username3":"Password3",
    "Username4":"Password4",
    "Username5":"Password5",
}

username=input("Enter username: ")
password=input("Enter password: ")
if dict.get(username):
  if dict[username]==password:
    print("Login successful")
  else:
    print("Incorrect password")
else:
  print("Incorrect username")

Enter username: Username1
Enter password: Password1
Login successful

In [50]:
l1=[]
for i in range(10):
  l1.append(input("Enter word: "))
dict={}
for i in l1:
  if dict.get(i):
    dict[i]+=1
  else:
    dict[i]=1
print(dict)

Enter word: a
Enter word: b
Enter word: c
Enter word: d
Enter word: a
Enter word: b
Enter word: c
Enter word: d
Enter word: a
Enter word: b
{'a': 3, 'b': 3, 'c': 2, 'd': 2}

In [55]:
choice=input("Press 1 to convert from C to F, 2 to convert from F to C: ")
choice=int(choice)
if choice==1:
  temp=input("Enter temperature in Celsius: ")
  temp=float(temp)
  temp=(temp*9/5)+32
  print(f"Temperature in Fahrenheit: {temp}")
elif choice==2:
  temp=input("Enter temperature in Fahrenheit: ")
  temp=float(temp)
  temp=(temp-32)*5/9
  print(f"Temperature in Celsius: {temp}")
else:
  print("Invalid choice")

Press 1 to convert from C to F, 2 to convert from F to C: 2
Enter temperature in Fahrenheit: 32
Temperature in Celsius: 0.0

In [19]:
print(chr(sum(range(ord(min(str(not())))))))

ඞ