In [ ]:
name=input('whats your name')
age=input('whats your age')

print("username: ",name)
print("age: ",age)

In [ ]:
def get_type(input_data):
      return type(eval(input_data))

res=input('enter input')
output=get_type(res)
print(output)

enter input78.9
<class 'float'>

In [ ]:
list1=["saqib","ali"]
list1.append("austin")
list1.remove("ali")

for i in list1:
  i=i.upper

print(list1)

['saqib', 'austin']

In [27]:
touple1=("saqib","ali","steve","austin")
(first,second,*third)=touple1

print("first element is: ",first)
print("second element is: ",second)

first element is:  saqib
second element is:  ali

In [28]:
StudentGrades = {
    "Alice": [85, 90, 88],
    "Bob": [92, 89, 93],
    "Charlie": [88, 91, 87],
    "David": [74, 70, 79],
    "Eve": [91, 95, 89]
}
print(StudentGrades)

{'Alice': [85, 90, 88], 'Bob': [92, 89, 93], 'Charlie': [88, 91, 87], 'David': [74, 70, 79], 'Eve': [91, 95, 89]}

In [40]:
list1=[]
list1=input("enter first list")
list2=[]
list2=input("enter second list")

list1=set(list1)
list2=set(list2)

print("list1: ",list1)
print("list2: ",list2)

union=list1|list2
print("union: ",union)

diff=list1 - list2
print("difference: ",diff)

inter=list1 & list2
print("intersection: ",inter)

enter first list2,3,4,5
enter second list3,4,6
list1:  {',', '5', '2', '3', '4'}
list2:  {'4', ',', '3', '6'}
union:  {',', '5', '6', '2', '3', '4'}
difference:  {'5', '2'}
intersection:  {'3', ',', '4'}

In [46]:
num=input("enter a number")
num=float(num)
if num==0:
  print("number is zero")
elif num > 0:
  print("number is positive")
else:
  print("number is negative")
if num%2==0:
  print("number is even")
else:
  print("number is odd")

enter a number-89.4
number is negative
number is odd

In [3]:
i=1
while i!=101:
  if (i%3==0 and i%5==0):
    print("FizzBuzz ")
  if i%3==0 :
    print("Fizz ")
  if i%5==0:
    print("Buzz ")
  else:
    print(i)
  i=i+1

1
2
Fizz
3
4
Buzz
Fizz
6
7
8
Fizz
9
Buzz
11
Fizz
12
13
14
FizzBuzz
Fizz
Buzz
16
17
Fizz
18
19
Buzz
Fizz
21
22
23
Fizz
24
Buzz
26
Fizz
27
28
29
FizzBuzz
Fizz
Buzz
31
32
Fizz
33
34
Buzz
Fizz
36
37
38
Fizz
39
Buzz
41
Fizz
42
43
44
FizzBuzz
Fizz
Buzz
46
47
Fizz
48
49
Buzz
Fizz
51
52
53
Fizz
54
Buzz
56
Fizz
57
58
59
FizzBuzz
Fizz
Buzz
61
62
Fizz
63
64
Buzz
Fizz
66
67
68
Fizz
69
Buzz
71
Fizz
72
73
74
FizzBuzz
Fizz
Buzz
76
77
Fizz
78
79
Buzz
Fizz
81
82
83
Fizz
84
Buzz
86
Fizz
87
88
89
FizzBuzz
Fizz
Buzz
91
92
Fizz
93
94
Buzz
Fizz
96
97
98
Fizz
99
Buzz

In [11]:
#9
n=input()
n=int(n)
i=1
fact=1
while i<=n:
  fact=fact*i
  i=i+1
print("factorial: ",fact)

6
factorial:  720

In [17]:
#10
flag=0
n=input()
n=int(n)
i=2

while i<=n:
  if n%i==0:
    flag=flag+1
    if flag>1:
      break
  i=i+1
if flag==1:
  print("number is prime")
else:
  print("number is not a prime")

15
number is not a prime

In [27]:
#11
list1=['3','5','12','67']
list2=[]

for i in list1:
  j=int(i)
  num=j*j
  list2.append(num)
print(list2)

[9, 25, 144, 4489]

In [28]:
#12
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}

d1.update(d2)
print(d1)

{'x': 1, 'y': 3, 'z': 4}

In [31]:
#13
my_list = [4,1, 2, 2, 3, 4, 4, 5]
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

[4, 1, 2, 3, 5]

In [34]:
#14
str="mada M"
str=str.replace(" ","").lower()
if str==str[::-1]:
  print("string is palindrome")
else:
  print("string is not palindrome")

string is palindrome

In [40]:
#15
n=input()
n=int(n)
n=n-1
i=0
j=1
print(i)
print(j)
while n>0:
  m=i+j
  print(m)
  i=j
  j=m
  n=n-1

10
0
1
1
2
3
5
8
13
21
34
55

In [41]:
#16
def get_numbers():
    numbers = input("Enter a series of numbers separated by spaces: ").split()
    numbers2 = []

    for num in numbers:
      numbers2.append(float(num))

    return numbers2

def calculate_average(numbers):
    if len(numbers) == 0:
        return None
    return sum(numbers) / len(numbers)

numbers = get_numbers()

if numbers:
    average = calculate_average(numbers)
    print(f"The average of the valid numbers is: {average}")
else:
    print("No valid numbers were entered.")

Enter a series of numbers separated by spaces: 3 4 6 7
The average of the valid numbers is: 5.0

In [44]:
#17
for i in range(1,11):
  print("\ntable of ",i,"\n")
  for j in range(1,11):
    print(i," x ",j," = ",i*j)

table of  1

1  x  1  =  1
1  x  2  =  2
1  x  3  =  3
1  x  4  =  4
1  x  5  =  5
1  x  6  =  6
1  x  7  =  7
1  x  8  =  8
1  x  9  =  9
1  x  10  =  10

table of  2

2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

table of  3

3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30

table of  4

4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40

table of  5

5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

table of  6

6  x  1  =  6
6  x  2  =  12
6  x  3  =  18
6  x  4  =  24
6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
6  x  10  =  60

table of  7

7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70

table of  8

8  x  1  =  8
8  x  2  =  16
8  x  3  =  24
8  x  4  =  32
8  x  5  =  40
8  x  6  =  48
8  x  7  =  56
8  x  8  =  64
8  x  9  =  72
8  x  10  =  80

table of  9

9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81
9  x  10  =  90

table of  10

10  x  1  =  10
10  x  2  =  20
10  x  3  =  30
10  x  4  =  40
10  x  5  =  50
10  x  6  =  60
10  x  7  =  70
10  x  8  =  80
10  x  9  =  90
10  x  10  =  100

In [46]:
#18
register = { "username":[] , "email":[], "password":[],}
u=input("enter username: ")
e=input("enter email: ")
p=input("enter password: ")
register["username"].append(u)
register["email"].append(e)
register["password"].append(p)

print(register)

enter username: fd
enter email: sdfsd
enter password: sfdsdf
{'username': ['fd'], 'email': ['sdfsd'], 'password': ['sfdsdf']}

In [49]:
#19
words = input("Enter a list of words separated by spaces: ").split()
word_frequency = {}

for word in words:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

print("Word frequencies:")
for word, frequency in word_frequency.items():
    print(f"'{word}': {frequency}")

Enter a list of words separated by spaces: a x a v c v
Word frequencies:
'a': 2
'x': 1
'v': 2
'c': 1

In [55]:
#20
num=input("enter 'a' for celcius->farenheit & 'b' for farenheit->celcius")
if num=='a':
  c=input("enter celcius temperature: ")
  c=float(c)
  f=c*(9/5)+32
  print("farenheit temperature is: ",f)
elif num=='b':
  f1=input("enter farenheit temperature: ")
  f1=float(f1)
  c1=(f1-32)*5/9
  print("celcius temperature is: ",c1)
else:
  print("wrong choice")

enter 'a' for celcius->farenheit & 'b' for farenheit->celciusb
enter farenheit temperature: 113.8
celcius temperature is:  45.44444444444444