In [ ]:
#1
name= input("Enter name=")
age= input("Enter age=")
print(f"Greetings {name} of {age}")

Enter name=amal
Enter age=6
Greetings amal of 6

In [ ]:
#2
a = input("Enter element=")
try:
  int_value = int(a)
  print("INT")
except ValueError:
  try:
    float_value = float(a)
    print("FLOAT")
  except ValueError:
    print("STRING")

Enter element=1.2
FLOAT

In [ ]:
#3
temp = ["a","b","c"]
temp.append("d")
temp.remove("a")
for i in range(3):
  print(temp[i].upper())

B
C
D

In [ ]:
#4
temp = (1,2,3,4)
(a,b,*c) = temp
print(a,b)

1 2

In [ ]:
#5
students = {'Ali': 'A', 'Basam': 'B', 'Charlie': 'B+','Delta':'F','Eren': 'A-'}
print(students)

{'Ali': 'A', 'Basam': 'B', 'Charlie': 'B+', 'Delta': 'F', 'Eren': 'A-'}

In [2]:
#6
list1 = []
list2 = []
for i in range(4):
  a = int(input("Enter value for list 1="))
  b = int(input("Enter value for list 2="))
  list1.append(a)
  list2.append(b)
set1 = set(list1)
set2 = set(list2)
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)

Enter value for list 1=1
Enter value for list 2=2
Enter value for list 1=3
Enter value for list 2=4
Enter value for list 1=1
Enter value for list 2=2
Enter value for list 1=7
Enter value for list 2=6
Union: {1, 2, 3, 4, 6, 7}
Intersection: set()
Difference: {1, 3, 7}

In [3]:
#7
n = int(input("Enter an integer: "))

if n > 0:
    print("+ve")
elif n < 0:
    print("-ve")
else:
    print("0")

print("Even" if n % 2 == 0 else "Odd")

Enter an integer: 3
+ve
Odd

In [4]:
#8
for i in range(1, 51):
  if i % 3 == 0 and i % 5 == 0:
      print("FizzBuzz")
  elif i % 3 == 0:
      print("Fizz")
  elif i % 5 == 0:
      print("Buzz")
  else:
      print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [5]:
#9
def fac(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

n = int(input("Enter a non-negative integer: "))
print(fac(n))

Enter a non-negative integer: 7
5040

In [6]:
#10
def prime(n):
    if n < 2:
        return False
    for i in range(2, int(n/2) + 1):
        if n % i == 0:
            return False
    return True

n = int(input("Enter a number: "))
print("Prime" if prime(n) else "Not Prime")

Enter a number: 4
Not Prime

In [7]:
#11
def squares(n):
    return [x**2 for x in n]

temp =[]
for i in range(10):
  temp.append(int(input("Enter")))

print(squares(temp))

Enter1
Enter2
Enter3
Enter4
Enter5
Enter6
Enter7
Enter8
Enter9
Enter10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#12
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 20, "c": 30, "d": 40}

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 20, 'c': 30, 'd': 40}

In [9]:
#13
temp =[]
for i in range(10):
  temp.append(int(input("Enter")))
set1 = set(temp)
temp = list(set1)
print(temp)

Enter1
Enter1
Enter2
Enter2
Enter3
Enter3
Enter3
Enter4
Enter4
Enter4
[1, 2, 3, 4]

In [10]:
#14
palindrome = lambda s : s == s[::-1]
palindrome("colc")

False

In [ ]:
#15
n = int(input("Enter range="))
a=0
b=1
for i in range(n):
  print(b)
  a,b = b,a+b

Enter range=4
1
1
2
3

In [ ]:
#16
temp = []
while(len(temp) != 5):
    num = input("Enter=")
    try:
        temp.append(float(num))
    except ValueError:
        print("Invalid")

print("Average=", sum(temp) / len(temp))

Enter=1
Enter=a
Invalid
Enter=1
Enter=2
Enter=3
Enter=1
Average= 1.6

In [13]:
for i in range(11):
  print("Multiplication table for ",i,"\n")
  for j in range(11):
    print(j,")",i*j,"\n")

Multiplication table for  0

0 ) 0

1 ) 0

2 ) 0

3 ) 0

4 ) 0

5 ) 0

6 ) 0

7 ) 0

8 ) 0

9 ) 0

10 ) 0

Multiplication table for  1

0 ) 0

1 ) 1

2 ) 2

3 ) 3

4 ) 4

5 ) 5

6 ) 6

7 ) 7

8 ) 8

9 ) 9

10 ) 10

Multiplication table for  2

0 ) 0

1 ) 2

2 ) 4

3 ) 6

4 ) 8

5 ) 10

6 ) 12

7 ) 14

8 ) 16

9 ) 18

10 ) 20

Multiplication table for  3

0 ) 0

1 ) 3

2 ) 6

3 ) 9

4 ) 12

5 ) 15

6 ) 18

7 ) 21

8 ) 24

9 ) 27

10 ) 30

Multiplication table for  4

0 ) 0

1 ) 4

2 ) 8

3 ) 12

4 ) 16

5 ) 20

6 ) 24

7 ) 28

8 ) 32

9 ) 36

10 ) 40

Multiplication table for  5

0 ) 0

1 ) 5

2 ) 10

3 ) 15

4 ) 20

5 ) 25

6 ) 30

7 ) 35

8 ) 40

9 ) 45

10 ) 50

Multiplication table for  6

0 ) 0

1 ) 6

2 ) 12

3 ) 18

4 ) 24

5 ) 30

6 ) 36

7 ) 42

8 ) 48

9 ) 54

10 ) 60

Multiplication table for  7

0 ) 0

1 ) 7

2 ) 14

3 ) 21

4 ) 28

5 ) 35

6 ) 42

7 ) 49

8 ) 56

9 ) 63

10 ) 70

Multiplication table for  8

0 ) 0

1 ) 8

2 ) 16

3 ) 24

4 ) 32

5 ) 40

6 ) 48

7 ) 56

8 ) 64

9 ) 72

10 ) 80

Multiplication table for  9

0 ) 0

1 ) 9

2 ) 18

3 ) 27

4 ) 36

5 ) 45

6 ) 54

7 ) 63

8 ) 72

9 ) 81

10 ) 90

Multiplication table for  10

0 ) 0

1 ) 10

2 ) 20

3 ) 30

4 ) 40

5 ) 50

6 ) 60

7 ) 70

8 ) 80

9 ) 90

10 ) 100

In [ ]:
#18
my_dict = {}

u = input("Enter username= ")
p = input("Enter password= ")
my_dict[u] = p
print("Registration successful!")

u = input("Enter username= ")
p = input("Enter password= ")
if my_dict.get(u) == p:
    print("Login successful!")
else:
    print("Invalid credentials.")

Enter username= amal
Enter password= 1243
Registration successful!
Enter username= amal
Enter password= 1243
Login successful!

In [ ]:
#19
w = input("Enter words=").split()
my_dict = {}
for x in w:
    my_dict[x] = my_dict.get(x, 0) + 1
print(my_dict)

Enter words=amal a b c d d
{'amal': 1, 'a': 1, 'b': 1, 'c': 1, 'd': 2}

In [ ]:
#20
c = input("a)Celsius to Fahrenheit \nb)Fahrenheit to Celsius? ").lower()
temp = float(input("Enter temperature: "))

if c == "a":
    print("Fahrenheit:", (temp * 9/5) + 32)
elif c == "b":
    print("Celsius:", (temp - 32) * 5/9)
else:
    print("Invalid")

a)Celsius to Fahrenheit
b)Fahrenheit to Celsius? b
Enter temperature: 12.6
Celsius: -10.777777777777779