In [ ]:
#printing
name= input("enter your name: ")
age= input("enter your age: ")

print("hello", name, "! Your age is ", age, "!!")

enter your name: hafsa
enter your age: 21
hello hafsa ! Your age is  21 !!

In [30]:
#Question 2
def identify_data_type(user_input):
    try:
        return int(user_input), "int"
    except ValueError:
        pass

    try:
        return float(user_input), "float"
    except ValueError:
        pass

    if user_input.lower() == 'true' or user_input.lower() == 'false':
        return user_input.lower() == 'true', "bool"

    return user_input, "str"

user_input = input("Enter something: ")

value, data_type = identify_data_type(user_input)
print(f"Value: {value}, Data Type: {data_type}")

Enter something: hello
Value: hello, Data Type: str

In [ ]:
#list operations
my_list = []
my_list.append("cat")
my_list.append("dog")
my_list.append("bird")
my_list.append("fish")
my_list.append("snake")
my_list.remove("fish")

for element in my_list:
    print(element.upper())

CAT
DOG
BIRD
SNAKE

In [ ]:
#tuple unpacking
from pickle import TUPLE1

TUPLE1=("a","b","c","d","e")

element1, element2, *others=TUPLE1

print(element1)
print(element2)

a
b

In [ ]:
#dictionary management
records= {"hafsa":'A', "aina":'A', "ali":'D'}
for name, grade in records.items():
    print(name, "has a grade of", grade)

hafsa has a grade of A
aina has a grade of A
ali has a grade of D

In [ ]:
#union, intersection and difference of two sets
list = __builtins__.list

l1=list(map(int, input("enter a list1 of numbers: ").split()))
l2=list(map(int, input("enter a list2 of numbers: ").split()))
set1=set(l1)
set2=set(l2)
intersection=set1.intersection(set2)
unionset=set1.union(set2)
difference=set1.difference(set2)
print("intersection is: ", intersection)
print("union is: ", unionset)
print("difference is: ", difference)

enter a list1 of numbers: 2 3 5 7 8 9
enter a list2 of numbers: 1 3 6 4 5
intersection is:  {3, 5}
union is:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
difference is:  {8, 9, 2, 7}

In [ ]:
#check if a number is negative or postive, even or odd
number= int(input("enter an integer: "))
if int(number)%2==0:
    print("even")
    if number>0:
        print("positive")
    elif number<0:
        print("negative")
    else:
        print("zero")
else:
    print("odd")
    if number>0:
        print("positive")
    elif number<0:
        print("negative")
    else:
        print("zero")

enter an integer: -20
even
negative

In [ ]:
#fizz, buzz, fizzbuzz
for id in range(1,51):
    if id%3==0 and id%5==0:
        print("FizzBuzz")
    elif id%3==0:
        print("Fizz")
    elif id%5==0:
        print("Buzz")
    else:
        print(id)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
#factorial calculation
def fact(num):
    for i in range (1,num):
        num=num*i
    print("factorial = ", num)


num=int(input("enter a number: "))
fact(num)

enter a number: 5
factorial =  120

In [ ]:
#prime number checking
def isPrime(num):
  for i in range(2, int(num/2)+1):
    if num%i==0:
      return False
  return True

num=int(input("enter a number: "))
if isPrime(num):
  print("prime")
else:
  print("not prime")

enter a number: 9
not prime

In [ ]:
#list comprehension
newList=[3, 9, 7, 5, 4]
print(newList)
sqList=[x*x for x in newList]
print(sqList)

[3, 9, 7, 5, 4]
[9, 81, 49, 25, 16]

In [ ]:
#merge dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

mergedDict = dict1.copy()
mergedDict.update(dict2)

print(mergedDict)

In [ ]:
#remove duplicates
list1=[1, 2, 5, 6,7,8,2,3,1,1,6,7]
list2=[]
for x in list1:
    if x not in list2:
        list2.append(x)
print(list2)

[1, 2, 5, 6, 7, 8, 3]

In [23]:
#palindrome checker
is_palindrome = lambda s: (s.replace(" ", "").lower() == s.replace(" ", "").lower()[::-1])

print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome("hello"))

True
False

In [ ]:
#fibonacci
list3=[1,1]
element1=0
number1=int(input("enter a number: "))
for i in range(3, number1+1):
  element1=list3[i-2]+list3[i-3]
  list3.append(element1)
  element1=0

print(list3)

enter a number: 5
[1, 1, 2, 3, 5]

In [14]:
#average calculation with validation
invalid=False
l5=list(input("enter a list1 of numbers: ").split())
for items in l5:
  if not(items.isdigit()):
    invalid=True

while (invalid==True):
  l5=list(input("enter a list1 of numbers again: ").split())
  for items in l5:
    if not(items.isdigit()):
      invalid=True
    else:
      invalid=False

if invalid==False:
  sum=0
  for items in l5:
    sum+=int(items)
  print("average is: ", sum/len(l5))

enter a list1 of numbers: 10 20 30
average is:  20.0

In [15]:
#nested loops, multiplication tabel
for i in range(1,11):
  for j in range(1,11):
    print(i*j, end=" ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [20]:
#User registeration sysytem
users= {}
while True:
  name= input("enter your name: ")
  if (name==""):
    break

  password= input("enter your password: ")
  users[name]=password
  print(users)

enter your name: hafsa
enter your password: hafsa123
{'hafsa': 'hafsa123'}
enter your name: ali
enter your password: 123Ali
{'hafsa': 'hafsa123', 'ali': '123Ali'}
enter your name:

In [21]:
#counting using a dictionary

words=["happy", "sad", "bad", "good", "bad", "sad", "dog", "sad", "cat", "dog"]
frequency={}
for word in words:
  if word in frequency:
    frequency[word]+=1
  else:
    frequency[word]=1
print(frequency)

{'happy': 1, 'sad': 3, 'bad': 2, 'good': 1, 'dog': 2, 'cat': 1}

In [22]:
#temperature conversion

temp=float(input("enter temperature: "))
unit=input("enter units (c or f): ")

if unit=="c":
  temp=temp*9/5+32
  unit="f"
elif unit=="f":
  temp=(temp-32)*5/9
  unit="c"
else:
  print("invalid unit")

print(temp, unit)

enter temperature: 180
enter units (c or f): c
356.0 f