In [ ]:
name = input("Enter your name:")
age = int(input("Enter your age:"))

print (f"Hello {name}, Your age is {age}.")

Enter your name:Arham
Enter your age:21
Hello Arham, Your age is 21.

In [ ]:
number = input("enter a number ")
try:
  number = int(number)
  print (type(number))
except:
  try:
    number = float(number)
    print(type(number))
  except:
    print("Not a number")

enter a numberty
Not a number

In [ ]:
arr = ["jug","bilal","dict"]
arr.append("Abdullah")
arr.remove("dict")

for word in arr:
  print(word.upper())

JUG
BILAL
ABDULLAH

In [ ]:
tuple = (1,2,3,4,5)

a,b = tuple[0],tuple[1]

print (a)
print (b)

1
2

In [ ]:
dict = {
    "1":"Arham",
    "2":"Bilal",
    "3":"Raif",
    "4":"Abdullah",
    "5":"Asjad"
    }

for e in dict:
  print(f"{e} is {dict[e]}")

1 is Arham
2 is Bilal
3 is Raif
4 is Abdullah
5 is Asjad

In [ ]:
list1 = []
list2 = []

for i in range(5):
  a = int(input("Enter element for first list:"))
  b = int(input("Enter element for second list:"))

  list1.append(a)
  list2.append(b)

set1 = set(list1)
set2 = set(list2)

print(f"Union of the sets is: {set1.union(set2)}")
print(f"Intersection of the sets is: {set1.intersection(set2)}")
print(f"Difference of the sets is: {set1.difference(set2)}")

Enter element for first list:1
Enter element for second list:1
Enter element for first list:2
Enter element for second list:3
Enter element for first list:4
Enter element for second list:5
Enter element for first list:6
Enter element for second list:7
Enter element for first list:8
Enter element for second list:9
Union of the sets is: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection of the sets is: {1}
Difference of the sets is: {8, 2, 4, 6}

In [15]:
number = int(input("Enter a number"))

if number > 0:
  print("Number is positive")
elif number == 0:
  print("Number is 0")
else:
  print("Number is negative")

if number % 2 == 0:
  print("Number is even")
else:
  print("Number is odd")

Enter a number24
Number is positive
Number is even

In [16]:
for i in range(1,50):
  if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 5 == 0:
    print("Buzz")
  elif i % 3 == 0:
    print("Fizz")

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz

In [19]:
def FactorialFunction(number):
  if (number < 0):
    print("Nuber doesnt have a factorial")
    return
  elif number == 0 or number == 1:
    return 1

  fact = 1
  for i in range(1,number+1):
    fact = fact * i

  return fact

print(FactorialFunction(5))

120

In [21]:
def PrimeCheck(number):
  if(number < 0):
    print("Number cant be determined.")
    return
  for i in range(2,number):
    if (number % i == 0):
      return False
  return True

print(PrimeCheck(7))

True

In [22]:
def Square(arr):
  return [element**2 for element in arr]

arr = [2,3,4,5]

print(Square(arr))

[4, 9, 16, 25]

In [24]:
dict1 = {"1":"A","2":"B","3":"C"}
dict2 = {"1":"D", "4":"G"}
dict1.update(dict2)

print(dict1)

{'1': 'D', '2': 'B', '3': 'C', '4': 'G'}

In [26]:
def RemoveDups(arr):
  dict = {}
  newArr = []

  for e in arr:
    if (e in dict.keys() and dict[e] == 1):
      continue

    dict[e] = 1
    newArr.append(e)

  return newArr

print(RemoveDups([1,2,3,1,4,5,1,3]))

[1, 2, 3, 4, 5]

In [28]:
IsPalindrome = lambda word: word.upper().replace(" ","") == word.upper().replace(" ","")[::-1]

print(IsPalindrome("Raceca f"))

False

In [33]:
def Fibonnaci(num):
  arr = [0,1]

  if num == 1 or num == 2:
    return arr[num]

  for i in range (3,num+1):
    arr.append(arr[i-2] + arr[i-3])

  return arr

print(Fibonnaci(9))

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [34]:
tot = int(input("How many numbers:"))

arr = []
for i in range(tot):
  arr.append(int(input("Enter number:")))
sum = 0

for i in arr:
  sum = sum + i

print(sum / tot)

How many numbers:4
Enter number:2
Enter number:2
Enter number:2
Enter number:4
2.5

In [36]:
for i in range(10):
  for j in range(10):
    print(f"{i+1} * {j+1} = {(i+1) * (j+1)}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [38]:
users = {"Arham":"123","Raif":"123","Bilal":"123"}

print("Registering...")

name = input("Enter name:")
password = input("Enter password:")

users[name] = password

print("Loggin In...")

name = input("Enter name:")
password = input("Enter password:")

if (name in users.keys() and users[name] == password):
  print("Logged In")
else:
  print("No user")

Registering...
Enter name:Abd
Enter password:456
Loggin In...
Enter name:Arham
Enter password:456
No user

In [41]:
def CountFreq(arr):
  dict = {}

  for e in arr:
    if (e not in dict.keys()):
      dict[e] = 1
      continue

    dict[e] = dict[e] + 1

  return dict


print(CountFreq([1,2,1,3,3,1]))

{1: 3, 2: 1, 3: 2}

In [ ]:
def TempConvert(temp, isCelcius):
  if (isCelcius):
    return (temp * 9 / 5) + 32
  else:
    return 5/9 * (temp -32)


temp = int(input("Enter Temperature"))
opt = input("Is it in celcius (y/n)")

print(TempConvert(temp, opt == "y"))