In [ ]:
name=input("input your name:")
age=input("enter your age:")
print(f"Hello there,{name}.you have lived on earth for {age} years.")

input your name:talal
enter your age:19
Hello there,talal.you have lived on earth for 19 years.

In [ ]:

tools=['showel','ranch']
tools.append('hammer')
tools.remove('ranch')
for i in tools:
  print(f"{i.upper()}")

SHOWEL
HAMMER

In [ ]:
t=(1,2,3,4,5)
a=t[0]
b=t[1]
print(a,b)

1 2

In [ ]:
dict_={'talal':'A',
       'wareesha':'A',
       'arshah':'A',
       'mubeen':'B',
       'Ali':'B'
       }
print(dict_)

{'talal': 'A', 'wareesha': 'A', 'arshah': 'A', 'mubeen': 'B', 'Ali': 'B'}

In [ ]:
a=[]
b=[]

for i in range(0,10):
  c=int(input("Enter number:"))
  a.append(c)

for i in range(0,10):
  c=int(input("Enter number:"))
  b.append(c)

set1=set(a)
set2=set(b)

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

Enter number:1
Enter number:2
Enter number:3
Enter number:4
Enter number:5
Enter number:11
Enter number:12
Enter number:13
Enter number:14
Enter number:15
Enter number:10
Enter number:11
Enter number:12
Enter number:13
Enter number:14
Enter number:15
Enter number:16
Enter number:17
Enter number:18
Enter number:19
{1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{11, 12, 13, 14, 15}
{1, 2, 3, 4, 5}

In [ ]:
a=int(input("Enter Number:"))

if(a<0):
  print("Negative Number")
elif(a==0):
  print("is zero")
else:
  print("Positive Number")
if(a%2==0):
  print("Even")
else:
  print("Odd")

Enter Number:0
is zero
Even

In [ ]:
for i in range(1,51):
  if(i%3==0 and i%5==0):
    print("FizzBuzz")
  elif(i%3==0):
    print("Fizz")
  elif(i%5==0):
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
def factorial():
  a=int(input("Enter positive number:"))
  if(a<0):
    print("Invalid input")
  elif(a==0):
    print(1)
  else:
    fac=1;
    for i in range(1,a+1):
      fac=fac*i
    print(fac)


factorial()

Enter positive number:3
6

In [ ]:
def prime():
  a=int(input("Enter positive number:"))
  if(a<0 or a==1):
    print("Invalid input")
  isprime=True
  for i in range(2,a):
    if(a%i==0):
      isprime=False
  print(isprime)

prime()

Enter positive number:2
True

In [ ]:
def square_numbers(numbers):

    squared_list = [num ** 2 for num in numbers]
    return squared_list

numbers = [1, 2, 3, 4, 5]
result = square_numbers(numbers)
print(result)

[1, 4, 9, 16, 25]

In [ ]:
def merge(dict1, dict2):

    merged_dict = {**dict1, **dict2}
    return merged_dict


dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 20, 'd': 4}

result = merge(dict1, dict2)
print(result)

{'a': 1, 'b': 20, 'c': 3, 'd': 4}

In [ ]:
def func(numbers):
    seen = set()
    result = []

    for num in numbers:
        if num not in seen:
            result.append(num)
            seen.add(num)

    return result


numbers = [3, 5, 2, 3, 8, 5, 1, 2]
result = func(numbers)
print(result)

[3, 5, 2, 8, 1]

In [ ]:
is_palindrome = lambda s: ''.join(s.split()).lower() == ''.join(s.split()).lower()[::-1]
test_string1 = "A man a plan a canal Panama"
print(is_palindrome(test_string1))

True

In [ ]:
def generate_fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    fibonacci_sequence = [0, 1]
    for i in range(2, n):
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)

    return fibonacci_sequence

n = int(input("Enter the number of Fibonacci numbers to generate: "))
if n < 0:
    print("invalid input.")
else:
    result = generate_fibonacci(n)
    print(f"{result}")

Enter the number of Fibonacci numbers to generate: 7
[0, 1, 1, 2, 3, 5, 8]

In [ ]:
def get_validated_numbers():
    numbers = []
    while True:
        user_input = input("Enter a number (or 'done' to finish): ")


        if user_input.lower() == 'done':
            break


        try:
            number = float(user_input)
            numbers.append(number)
        except ValueError:
            print("Invalid input. Please enter a valid number.")

    return numbers

def calculate_average(numbers):
    if not numbers:
        return 0
    return sum(numbers) / len(numbers)

print("This program calculates the average of a series of numbers.")
numbers = get_validated_numbers()

if numbers:
    average = calculate_average(numbers)
    print(f"The average of the numbers is: {average:.2f}")
else:
    print("No valid numbers were entered.")

This program calculates the average of a series of numbers.
Enter a number (or 'done' to finish): 3
Enter a number (or 'done' to finish): 2
Enter a number (or 'done' to finish): 5.5
Enter a number (or 'done' to finish): done
The average of the numbers is: 3.50

In [ ]:
def print_multiplication_table():

    for i in range(1, 11):
        for j in range(1, 11):
            print(f"{i * j}", end=" ")
        print()


print_multiplication_table()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:

user_credentials = {}

def register():
    print("--- Registration ---")
    username = input("Enter a username: ")
    if username in user_credentials:
        print("Username already exists. Please choose a different username.")
        return

    password = input("Enter a password: ")
    user_credentials[username] = password
    print("Registration successful!")

def login():
    print("--- Login ---")
    username = input("Enter your username: ")
    password = input("Enter your password: ")
    if username in user_credentials and user_credentials[username] == password:
        print("Login successful! Welcome,", username)
    else:
        print("Invalid username or password. Please try again.")

def main():
    while True:
        print("\n1. Register")
        print("2. Login")
        print("3. Exit")
        choice = input("Choose an option (1/2/3): ")

        if choice == "1":
            register()
        elif choice == "2":
            login()
        elif choice == "3":
            print("Exiting the program. Goodbye!")
            break
        else:
            print("Invalid choice. Please try again.")

main()

In [2]:

words = input("Input: ").split()

word_count = {}

for word in words:
    word_count[word] = word_count.get(word, 0) + 1

for word, count in word_count.items():
    print(f"{word}: {count}")

Input: My name is Talal Jamil Jamil Dona
My: 1
name: 1
is: 1
Talal: 1
Jamil: 2
Dona: 1

In [3]:
def convert_temperature():
    print("Convert")
    print("1. Celsius --> Fahrenheit")
    print("2. Fahrenheit --> Celsius")

    choice = input("Select from the options above: ")

    if choice == "1":
        celsius = float(input("Enter temperature in Celsius: "))
        fahrenheit = (celsius * 9/5) + 32
        print(f"{celsius}°C is equal to {fahrenheit:.2f}°F")
    elif choice == "2":
        fahrenheit = float(input("Enter temperature in Fahrenheit: "))
        celsius = (fahrenheit - 32) * 5/9
        print(f"{fahrenheit}°F is equal to {celsius:.2f}°C")
    else:
        print("Invalid choice! Please enter 1 or 2.")

convert_temperature()

Convert
1. Celsius --> Fahrenheit
2. Fahrenheit --> Celsius
Select from the options above: 1
Enter temperature in Celsius: 16
16.0°C is equal to 60.80°F