In [ ]:
n=input("Write your name");
age=int(input("Enter your age"));
print(f"HI {n}! Aged {age}");

Write your nameHaseeb
Enter your age18
HI Haseeb! Aged 18

In [ ]:
i=int(input("Enter ypur input\n"));
print(type(i));

Enter ypur input
666
<class 'int'>

In [ ]:
l=[];
i=input("Enter\n")
for i in range(5):
  i=input()
  l.append(i);

print(l);
j=input("Enter element to remove ")
l.remove(j);

print(l);

Enter
a

l
l
l
l
['', 'l', 'l', 'l', 'l']
Enter element to remove l
['', 'l', 'l', 'l']

In [ ]:
thisdict = {
  "Ans": "A",
  "krab": "B",
  "ALi2": "C",
  "John": "D"
}
thisdict["Jack"] = "A+"
print(thisdict)

{'Ans': 'A', 'krab': 'B', 'ALi2': 'C', 'John': 'D', 'Jack': 'A+'}

In [ ]:
thistuple = ("A","B","C");
x=thistuple[0];
y=thistuple[1];
print(x,y)

A B

In [ ]:

A = {2, 3, 5}

B = {1, 2, 6}


print('Intersection :', A.intersection(B))
print('Intersection :', A.union(B))
print('Difference :', A.difference(B))

Intersection using intersection(): {2}
Intersection using union(): {1, 2, 3, 5, 6}
Difference using difference(): {3, 5}

In [ ]:
i=int(input("enter integer"));
if i%2==0:
    if i<0:
      print("The number is Even -ve");
    if i>0:
      print("The number is Even +ve");
    if i==0:
        print("ZERO")

elif (i%2!=0):
      if i<0:
        print("The number is Even -ve");
      if i>0:
        print("The number is Even +ve");
      if i==0:
        print("ZERO")

enter integer0
ZERO

In [ ]:
for i in range(0,51):
  if i%3==0:
    print("FIZZ\n");
  elif i%5==0:
    print("Buzz\n")
  elif i%3==0 and i%5==0:
    print("FIZZBUZZ\n");
  else:
    print(i);

FIZZ

1
2
FIZZ

4
Buzz

FIZZ

7
8
FIZZ

Buzz

11
FIZZ

13
14
FIZZ

16
17
FIZZ

19
Buzz

FIZZ

22
23
FIZZ

Buzz

26
FIZZ

28
29
FIZZ

31
32
FIZZ

34
Buzz

FIZZ

37
38
FIZZ

Buzz

41
FIZZ

43
44
FIZZ

46
47
FIZZ

49
Buzz

In [ ]:
n = int(input("Enter your number "));

def factorial(x):
  fact = 1
  for i in range(1, x+1):
    fact = fact * i


  print(f"The factorial of {x} is :",fact)
factorial(n);

Enter your number 8
The factorial of 8 is :  40320

In [ ]:

num=int(input("enter your number"));



flag = False

if num == 0 or num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break

    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

enter your number44
44 is not a prime number

In [ ]:
a=[];
for i in range(0,5):
  j=int(input())
  a.append(j)
new_list=[x**2 for x in a ]
print(new_list)

1
3
5
2
4
[1, 9, 25, 4, 16]

In [ ]:
d1={"Ans":"A","Ali":"B","JAck":"C"}
d2={"Ans":"A","Ali":"B","JOhn":"D","krab":"C-" }
d1.update(d2);
print(d1)

{'Ans': 'A', 'Ali': 'B', 'JAck': 'C', 'JOhn': 'D', 'krab': 'C-'}

In [ ]:

def my_function(x):
  return list(dict.fromkeys(x))

mylist = my_function(["a", "b", "a", "c", "c"])

print(mylist)

['a', 'b', 'c']

In [ ]:
p = lambda num: str(num) == str(num)[::-1]
num=121
if(p(num)):
  print("True");
else:
  print("false")

True

In [ ]:
#Average calculator

In [ ]:
def Fibonacci(n):


    if n < 0:
        print("Incorrect input")


    elif n == 0:
        return 0

    elif n == 1 or n == 2:
        return 1

    else:
        return Fibonacci(n-1) + Fibonacci(n-2)


print(Fibonacci(9))

34

In [ ]:
for i in range(1,11):
  print("\n  :")
  for j in range(1,11):
    print(f"{i}X{j}","=",i*j)

  :
1X1 = 1
1X2 = 2
1X3 = 3
1X4 = 4
1X5 = 5
1X6 = 6
1X7 = 7
1X8 = 8
1X9 = 9
1X10 = 10

  :
2X1 = 2
2X2 = 4
2X3 = 6
2X4 = 8
2X5 = 10
2X6 = 12
2X7 = 14
2X8 = 16
2X9 = 18
2X10 = 20

  :
3X1 = 3
3X2 = 6
3X3 = 9
3X4 = 12
3X5 = 15
3X6 = 18
3X7 = 21
3X8 = 24
3X9 = 27
3X10 = 30

  :
4X1 = 4
4X2 = 8
4X3 = 12
4X4 = 16
4X5 = 20
4X6 = 24
4X7 = 28
4X8 = 32
4X9 = 36
4X10 = 40

  :
5X1 = 5
5X2 = 10
5X3 = 15
5X4 = 20
5X5 = 25
5X6 = 30
5X7 = 35
5X8 = 40
5X9 = 45
5X10 = 50

  :
6X1 = 6
6X2 = 12
6X3 = 18
6X4 = 24
6X5 = 30
6X6 = 36
6X7 = 42
6X8 = 48
6X9 = 54
6X10 = 60

  :
7X1 = 7
7X2 = 14
7X3 = 21
7X4 = 28
7X5 = 35
7X6 = 42
7X7 = 49
7X8 = 56
7X9 = 63
7X10 = 70

  :
8X1 = 8
8X2 = 16
8X3 = 24
8X4 = 32
8X5 = 40
8X6 = 48
8X7 = 56
8X8 = 64
8X9 = 72
8X10 = 80

  :
9X1 = 9
9X2 = 18
9X3 = 27
9X4 = 36
9X5 = 45
9X6 = 54
9X7 = 63
9X8 = 72
9X9 = 81
9X10 = 90

  :
10X1 = 10
10X2 = 20
10X3 = 30
10X4 = 40
10X5 = 50
10X6 = 60
10X7 = 70
10X8 = 80
10X9 = 90
10X10 = 100

In [ ]:
def calculate_average():
    while True:
        try:
            numbers = list(map(float, input("Enter numbers separated by spaces: ").split()))
            if not numbers:
                raise ValueError("No numbers entered.")
            break
        except ValueError:
            print("Invalid input. Please enter only numbers.")

    average = sum(numbers) / len(numbers)
    print(f"Average: {average:.2f}")

calculate_average()

In [ ]:
dic1={
}
u=input("UserName:");
p=input("Enter Password")
dic1["UserName:"]=u;
dic1["password"]=p;
print(dic1)

UserName:HI
Enter Password1234
{'UserName:': 'HI', 'password': '1234'}

In [3]:
def count_word_frequency():
    words = input("Enter a list of words separated by spaces: ").split()
    word_count = {}

    for word in words:
        word_count[word] = word_count.get(word, 0) + 1

    print("\nWord Frequency:")
    for word, count in word_count.items():
        print(f"{word}: {count}")

count_word_frequency()

Enter a list of words separated by spaces: APPLE MANGO MANGO

Word Frequency:
APPLE: 1
MANGO: 2

In [6]:
def convert_temperature():
    choice = input("Convert from Celsius or Fahrenheit? ").lower()

    if choice == 'c':
        celsius = float(input("Enter temperature in Celsius: "))
        fahrenheit = (celsius * 9/5) + 32
        print(f"{celsius}C is equal to {fahrenheit}F")

    elif choice == 'f':
        fahrenheit = float(input("Enter temperature in Fahrenheit: "))
        celsius = (fahrenheit - 32) * 5/9
        print(f"{fahrenheit}F is equal to {celsius}C")

    else:
        print("Invalid choice. Please enter 'C' or 'F'.")

convert_temperature()

Convert from Celsius or Fahrenheit? c
Enter temperature in Celsius: 123
123.0C is equal to 253.4F