In [ ]:
print("hello")

hello

In [ ]:
name=input('Enter your name')
print(name)
age=input('Enter your age')
print(age)
print('Hello! Good Morning')

Enter your nameHabib
Habib
Enter your age21
21
Hello! Good Morning

In [ ]:
num=input('Input from user:')
if '.' in num:
   print('*Float*')
   s =int(float(num))
   print(s)
else:
  print('*Integer*')
  s=float(num)
  print(s)

Input from user:22.5
*Float*
22

In [ ]:
list=['Habib','Closed','Hamza']
list.append('Waleed')
list.remove('Hamza')
for item in list:
    print(item.upper())

HABIB
CLOSED
WALEED

In [ ]:
tuple = ('s','t','u','v')
var1=tuple[0]
var2=tuple[1]
print(var1+var2)

st

In [ ]:
Dictionary={
    'Hamza':'A',
    'Hassan':'B',
    'Hammad':'C',
}
print(Dictionary)

{'Hamza': 'A', 'Hassan': 'B', 'Hammad': 'C'}

In [ ]:
List=[1,2,3,4]
list2=[4,5,6,7]
set1=set(List)
set2=set(list2)
print("Union",set1.union(set2))
print("Intersection",set2.intersection(set2))
print("Difference",set2.difference(set2))

Union {1, 2, 3, 4, 5, 6, 7}
Intersection {4, 5, 6, 7}
Difference set()

In [ ]:
num=float(input('Input from user:'))
if (num > 0):
  print("Positive")
  if(num%2)==0:
     print("Even")
  else:
     print("Odd")
elif (num<0):
  print("Negative")
  if(num%2)==0:
     print("Even")
  else:
     print("Odd")
else:
  print("zero")

Input from user:-11
Negative
Odd

In [ ]:
for i in range(1,51):
  if i%3==0 and i%5==0:
    print("Fizzbuzz")
  elif i%5==0 :
    print("Buzz")
  elif i%3==0:
    print("Fizz")
  print(i)

1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
Fizzbuzz
15
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
Fizzbuzz
30
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
Fizzbuzz
45
46
47
Fizz
48
49
Buzz
50

In [ ]:
def factorial(num):
  num2=1
  for i in range(1,num+1):
     num2 *=i
  return num2
num=int(input("Enter the Number:"))
print(f"The factorial of {num} is {factorial(num)}")

Enter the Number:5
The factorial of 5 is 120

In [11]:
def primechecker(num):
    if num > 1:
        for i in range(2, (num // 2) + 1):
            if (num % i) == 0:
                print(num, "is not a prime number")
                break
            else:
                print(num, "is a prime number")
    else:
        print(num, "is not a prime number")

num = int(input("Enter the number to find prime:"))
primechecker(num)

Enter the number to find prime:5
5 is a prime number

In [12]:
def squares(start, end):
    squares = [value ** 2 for value in range(start,end+1)]
    return squares
print(squares(2, 5))

[4, 9, 16, 25]

In [13]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 20, 'd': 4}

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 20, 'c': 3, 'd': 4}

In [16]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for num in lst:
        if num not in seen:
            seen.add(num)
            result.append(num)
    return result

numbers = [1, 2, 2,7,7, 8, 4, 4, 5, 1, 6,5]
print(remove_duplicates(numbers))

[1, 2, 7, 8, 4, 5, 6]

In [20]:
def is_palindrome(s):
    cleaned = s.replace(" ", "").lower()
    return cleaned == cleaned[::-1]

print(is_palindrome("abcdcba"))

True

In [21]:
def fibonacci(num):
    if num <= 0:
        return "Please enter a positive integer"

    fib_sequence = [0, 1] if num > 1 else [0]

    for _ in range(2, num):
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])

    return fib_sequence

num = int(input("Enter the number of Fibonacci terms: "))
print(fibonacci(num))

Enter the number of Fibonacci terms: 4
[0, 1, 1, 2]

In [23]:
def check_valid_num():
    user_input = input("Enter numbers with space: ").strip()

    try:
        numbers = [float(num) for num in user_input.split()]
        return numbers
    except ValueError:
        print("Invalid input! Please enter only numbers with spaces.")
        return check_valid_num()

def calculate_average(numbers):
    return sum(numbers) / len(numbers) if numbers else 0

numbers = check_valid_num()
average = calculate_average(numbers)

if numbers:
    print(f"The average of the entered numbers is: {average:.2f}")
else:
    print("No valid numbers entered.")

Enter numbers with space: 10 11 12 13 14
The average of the entered numbers is: 12.00

In [24]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i * j:4}", end=" ")
    print()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

In [25]:

user_db = {}

def register():
    username = input("Enter a username: ").strip()

    if username in user_db:
        print("Username already exists! Try a different.")
        return

    password = input("Enter a password: ").strip()
    user_db[username] = password
    print("Registration successful!")

def login():
    username = input("Enter your username: ").strip()
    password = input("Enter your password: ").strip()

    if user_db.get(username) == password:
        print("Login successful! Welcome,", username)
    else:
        print("Invalid username or password.")

def main():
    while True:
        print("\n1. Register\n2. Login\n3. Exit")
        choice = input("Choose an option: ").strip()

        if choice == '1':
            register()
        elif choice == '2':
            login()
        elif choice == '3':
            print("Exit")
            break
        else:
            print("Invalid choice! Please enter 1, 2, or 3.")

main()

1. Register
2. Login
3. Exit
Choose an option: 1
Enter a username: muhammad123
Enter a password: 123456
Registration successful!

1. Register
2. Login
3. Exit
Choose an option: 1
Enter a username: muhammad123
Username already exists! Try a different.

1. Register
2. Login
3. Exit
Choose an option: muhammad123
Invalid choice! Please enter 1, 2, or 3.

1. Register
2. Login
3. Exit
Choose an option: habib456
Invalid choice! Please enter 1, 2, or 3.

1. Register
2. Login
3. Exit
Choose an option: 2
Enter your username: habib456
Enter your password: 654321
Invalid username or password.

1. Register
2. Login
3. Exit
Choose an option: 3
Exit

In [27]:
def count_frequency():
    user_input = input("Enter a list of words separated by spaces: ").strip().lower()
    words = user_input.split()

    word_count = {}

    for word in words:
        word_count[word] = word_count.get(word, 0) + 1

    print("\nWord Frequency:")
    for word, count in word_count.items():
        print(f"{word}: {count}")

count_frequency()

Enter a list of words separated by spaces: i my me we i me was were

Word Frequency:
i: 2
my: 1
me: 2
we: 1
was: 1
were: 1

In [28]:
def convertor_temperature():
    print("Temperature Converter")
    print("1. C to F")
    print("2. F to C")

    choice = input("Choose an option (1 or 2): ").strip()

    if choice == '1':
        c = float(input("Enter temperature in Celsius: "))
        f = (c * 9/5) + 32
        print(f"{c}°C is equal to {f:.2f}°F")

    elif choice == '2':
        f = float(input("Enter temperature in Fahrenheit: "))
        c = (f - 32) * 5/9
        print(f"{f}°F is equal to {c:.2f}°C")

    else:
        print("Invalid choice! Please enter 1 or 2.")

convertor_temperature()

Temperature Converter
1. C to F
2. F to C
Choose an option (1 or 2): 1
Enter temperature in Celsius: 37
37.0°C is equal to 98.60°F