In [5]:
name= input("enter your name")
age= input("enter yuour age")
print(f"Hello, {name}, your age is {age}")

enter your nameaa
enter yuour age12
Hello, aa, your age is 12

In [10]:
value= input("Enter a number: ")
try:
  num= int(value)
  print("the value in an integer.")
except ValueError:
  try:
    num= float(value)
    print("the value is float")
  except ValueError:
    print("the value is string")

Enter a number: 87
the value in an integer.

In [13]:
my_list= ["apple", "banana", "mango"]
my_list.append("hello")
my_list.remove("banana")
for item in my_list:
  print(item.upper())

APPLE
MANGO
HELLO

In [14]:
my_tupple= (10,20,30,40,50)
a,b, *_ = my_tupple
print(a,b)

10 20

In [15]:
students ={"Ali":80, "sara": 90, "hasan":30, "hamza":95}
print(students)

{'Ali': 80, 'sara': 90, 'hasan': 30, 'hamza': 95}

In [18]:
set1 = set(map(int,input("Enter first list: ").split()))
set2 = set(map(int,input("Enter first list: ").split()))
print("union: ", set1 | set2)
print("intersection: ", set1 & set2)
print("difference: ", set1 - set2)

Enter first list: 1 2 3 4 5
Enter first list: 9 8 7 6 5
union:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection:  {5}
difference:  {1, 2, 3, 4}

In [19]:
num = int(input("enter a number: "))
if num<0:
  print("number is negative")
elif num>0:
  print("number is positive")
else:
  print("number is zero")

print("even" if num % 2 == 0 else "odd")

enter a number: 56
number is positive
even

In [21]:
for i in range(1,51):
  if i%3==0 and i%5==0:
    print("FizzBuzz")
  elif i%5==0:
    print("Buzz")
  elif i%3==0:
    print("Fizz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [22]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

num = int(input("Enter a number: "))
print(factorial(num))

Enter a number: 6
720

In [23]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

num = int(input("Enter a number: "))
print("Prime" if is_prime(num) else "Not Prime")

Enter a number: 17
Prime

In [24]:
def square_list(numbers):
    return [x**2 for x in numbers]

nums = list(map(int, input("Enter numbers: ").split()))
print(square_list(nums))

Enter numbers: 1 2 3 4 5 6 7 8 9 10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [27]:
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

nums = list(map(int, input("Enter numbers: ").split()))
print(remove_duplicates(nums))

Enter numbers: 1 2 3 4 5 8 5
[1, 2, 3, 4, 5, 8]

In [29]:
def is_palindrome(s):
    cleaned = "".join(s.lower().split())
    return cleaned == cleaned[::-1]

word = input("Enter a word: ")
print("Palindrome" if is_palindrome(word) else "Not Palindrome")

Enter a word: 1234
Not Palindrome

In [30]:
def fibonacci(n):
    sequence = [0, 1]
    for _ in range(n - 2):
        sequence.append(sequence[-1] + sequence[-2])
    return sequence[:n]

num = int(input("Enter n: "))
print(fibonacci(num))

Enter n: 5
[0, 1, 1, 2, 3]

In [31]:
def calculate_average():
    nums = []
    while True:
        val = input("Enter a number (or 'done' to finish): ")
        if val.lower() == "done":
            break
        try:
            nums.append(float(val))
        except ValueError:
            print("Invalid input, enter a number.")

    return sum(nums) / len(nums) if nums else 0

print("Average:", calculate_average())

Enter a number (or 'done' to finish): 5
Enter a number (or 'done' to finish): 9
Enter a number (or 'done' to finish): 3
Enter a number (or 'done' to finish): 2
Enter a number (or 'done' to finish): done
Average: 4.75

In [37]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i * j:4}", end=" ")
    print()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

In [33]:
users = {}

def register():
    username = input("Enter username: ")
    password = input("Enter password: ")
    users[username] = password
    print("User registered.")

def login():
    username = input("Enter username: ")
    password = input("Enter password: ")
    if users.get(username) == password:
        print("Login successful!")
    else:
        print("Invalid credentials.")

register()
login()

Enter username: musa
Enter password: dar
User registered.
Enter username: musa
Enter password: dar
Login successful!

In [35]:
from collections import Counter

words = input("Enter words separated by spaces: ").split()
word_counts = Counter(words)
print(dict(word_counts))

Enter words separated by spaces: hello world hi world hi buddy
{'hello': 1, 'world': 2, 'hi': 2, 'buddy': 1}

In [36]:
def convert_temperature():
    temp = float(input("Enter temperature: "))
    choice = input("Convert to (C)elsius or (F)ahrenheit? ").lower()

    if choice == "c":
        print(f"{(temp - 32) * 5/9:.2f}°C")
    elif choice == "f":
        print(f"{(temp * 9/5) + 32:.2f}°F")
    else:
        print("Invalid choice")

convert_temperature()

Enter temperature: 100
Convert to (C)elsius or (F)ahrenheit? f
212.00°F