In [3]:
print('Enter your Name: ')
x = input()
print('Enter your Age: ')
y = input()
print('Hi ' + x + ' Hope you doin good :) ')

Enter your Name:
hafsa
Enter your Age:
22
Hi hafsa Hope you doin good :)

In [ ]:
a_int = 1
b_float = 1.0
c_sum = a_int + b_float
print(c_sum)
print(type(c_sum))

In [9]:
my_list = ['apple','mango','orange', 'banana', 'grapes']

my_list.append('cucumber')
mango_index = my_list.index('mango')
my_list.insert(mango_index, 'strawberry')
my_list.remove('banana')
print(my_list)
for item in my_list:
    try:
        print(str(item).upper())
    except AttributeError:
        print(item)

['apple', 'strawberry', 'mango', 'orange', 'grapes', 'cucumber']
APPLE
STRAWBERRY
MANGO
ORANGE
GRAPES
CUCUMBER

In [11]:
my_tuple = ('hafsa', 'qainat', 'baasil', 'asjad', 'raif')
first_element, second_element = my_tuple[:2]
print("First element:", first_element)
print("Second element:", second_element)

First element: hafsa
Second element: qainat

In [13]:
student_grades = {}
for _ in range(5):
    name = input("Enter student name: ")
    while True:
        grade = input("Enter student grade (A-F): ").upper()
        if grade in ('A', 'B', 'C', 'D', 'E', 'F'):
            break
        else:
            print("Invalid grade. Please enter a grade between A and F.")
    student_grades[name] = grade
sorted_student_grades = dict(sorted(student_grades.items()))
sorted_student_grades

Enter student name: hafsa
Enter student grade (A-F): A
Enter student name: qainat
Enter student grade (A-F): A
Enter student name: baasil
Enter student grade (A-F): A
Enter student name: Asjad
Enter student grade (A-F): A
Enter student name: Raif
Enter student grade (A-F): A

{'Asjad ': 'A', 'Raif': 'A', 'baasil': 'A', 'hafsa': 'A', 'qainat': 'A'}

In [14]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
print("Union :", A | B)
print("Intersection :", A & B)
print("Difference :", A - B)
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

In [15]:
number = int(input("Enter a number : "))
if number>0:
  print(number, "is positive.")
elif number<0:
  print(number, "is negative.")
else:
  print("Number is 0.")

if number%2 == 0:
  print(number, "is even.")
else:
  print(number, "is odd.")

Enter a number : -4
-4 is negative.
Number is even.

In [16]:

for fizzbuzz in range(51):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue
    print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

In [17]:

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
n = int(input("Input a non negative number: "))
print(factorial(n))

Input a non negative number: 5
120

In [19]:
def is_prime(num, divisor=None):
    if divisor is None:
        divisor = num - 1
    if num <= 1:
        return False
    if divisor == 1:
        return True
    if num % divisor == 0:
        return False
    return is_prime(num, divisor - 1)

number = int(input("Enter a number: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 576875
576875 is not a prime number.

In [22]:

data=[11,23,13,3,1,3,4]
def square(x):
  result = [i*i for i in data ]
  return result
result = square(data)
print(result)

[121, 529, 169, 9, 1, 9, 16]

In [23]:
dict1 = {1: 'One', 2: 'Two', 3: 'Three'}
dict2 = {3: 'Zero', 4: 'Four'}
dict1.update(dict2)
print(dict1)

{1: 'One', 2: 'Two', 3: 'Zero', 4: 'Four'}

In [30]:
names = ["Hafsa", "Qainat", "Hafsa", "Baasil", "Asjad", "Raif", "Asjad"]
print(list(dict.fromkeys(names)))

['Hafsa', 'Qainat', 'Baasil', 'Asjad', 'Raif']

In [27]:
def is_palindrome(value):
    lower = value.lower()
    return value == value[::-1]

print(is_palindrome(input('Enter the value: ')))

Enter the value: maham
True

In [32]:
def fibonacci():
    x, y = 0, 1
    while True:
        yield x
        x, y = y, x + y

n = int(input("Input the number of Fibonacci numbers you want to generate? "))

print("Number of first ",n,"Fibonacci numbers:")
fib = fibonacci()
for _ in range(n):
    print(next(fib),end=" ")

Input the number of Fibonacci numbers you want to generate? 10
Number of first  10 Fibonacci numbers:
0 1 1 2 3 5 8 13 21 34

In [38]:
scores = []
while True:
    try:
        score = int(input('Enter a score or -1 to quit: '))
    except ValueError:
        print(f"Please enter a number")
        continue
    if score == -1:
        break
    scores.append(score)
print(f"Average is {sum(scores)/len(scores)}")

Enter a score or -1 to quit: 2
Enter a score or -1 to quit: 2
Enter a score or -1 to quit: 4
Enter a score or -1 to quit: 6
Enter a score or -1 to quit: 53
Enter a score or -1 to quit: -1
Average is 13.4

In [46]:
for i in range(1,10):
    print("i =", i, ":")
    for j in range(1, 10):
        print (i*j)

i = 1 :
1
2
3
4
5
6
7
8
9
i = 2 :
2
4
6
8
10
12
14
16
18
i = 3 :
3
6
9
12
15
18
21
24
27
i = 4 :
4
8
12
16
20
24
28
32
36
i = 5 :
5
10
15
20
25
30
35
40
45
i = 6 :
6
12
18
24
30
36
42
48
54
i = 7 :
7
14
21
28
35
42
49
56
63
i = 8 :
8
16
24
32
40
48
56
64
72
i = 9 :
9
18
27
36
45
54
63
72
81

In [50]:
def convert_fahrenheit_to_celsius(fahrenheit):
    celsius = float(fahrenheit - 32) * 5 / 9
    return celsius
def convert_celsius_to_fahrenheit(celsius):
    fahrenheit = (float(celsius) * 9 / 5 + 32)
    return fahrenheit

x=convert_celsius_to_fahrenheit(100)
y=convert_fahrenheit_to_celsius(212)
print(x)
print(y)

212.0
100.0

In [51]:
a = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
b = {}
for c in a:
    b[c] = b.get(c, 0) + 1
print(b)

{'apple': 2, 'banana': 3, 'orange': 1}

In [ ]:
login_input = {"MEK1300":"Python"}
username = {}
user = input("To login enter Yes. If you want to register enter No: ")

def login_info():
  if user == "Yes":
    login_user()

  else:
     user == "No"
     register_user()
     return user

def register_user():
    new_user = input("Enter a username: ")
    if new_user in login_input:
        print("Your username already exists! ")
    else:
        new_password = input("Enter a password: ")
        username[new_user] = new_password
        print("Successful registration!")

def login_user():
      login_user = input("Enter your username: ")
      password = input("Enter your password: ")
      if login_user in login_input and login_input[login_user] == password:
          print("Successful login! ")
      else:
          print("Invalid username/passord. Register a new user!")