In [ ]:
print("What is your name")
name=input()
print("What is your age")
age=input()

What is your name

KeyboardInterrupt

In [ ]:
print("Input")
value=str(input())
if "." in value:
  print("float")
elif value.isdigit() :
  print("integer")
else :
  print("string")

Input
5
integer

In [ ]:
list=["asjad","die","eve","raif"]
list.remove("asjad")
list.append("arham")
for val in list:
    print(val.upper())

DIE
EVE
RAIF
ARHAM

In [ ]:
value=("a",1)
print(value)
value1,value2=value
print(value1)
print(value2)

('a', 1)
a
1

In [ ]:
classroom={}
for i in range(0,5):
  print(f"Enter name of student {i}")
  name=input()
  print(f"Enter grade of student {i}")
  grade=input()
  classroom[name]=grade

print(classroom)

Enter name of student 1
Raif
Enter grade of student 1
A
Enter name of student 2
bilal
Enter grade of student 2
B
Enter name of student 3
Asjad
Enter grade of student 3
A
Enter name of student 4
zeeshan
Enter grade of student 4
F
{'Raif': 'A', 'bilal': 'B', 'Asjad': 'A', 'zeeshan': 'F'}

In [9]:
list1=[1,2,3,4,5]
list2=[3,4,5,6,7]

setvalue=set(list1).union(set(list2))
print(setvalue)
setvalue=set(list1).intersection(set(list2))
print(setvalue)
setvalue=set(list1).difference(set(list2))
print(setvalue)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [ ]:
print("enter an integer")
value=int(input())
if value>0:
  print("positive")
elif value<0:
  print("negative")
else:
  print("zero")

if value%2==0:
  print("even")
else:
  print("odd")

enter an integer
4
positive
even

In [ ]:
for i in range(1,51):
  if(i%15==0):
    print("fizzbuzz")
  elif(i%3==0):
    print("fizz")
  elif(i%5==0):
    print("buzz")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

In [ ]:
def factorial(num):
  if num==0:
    return 1
  else:
    return num*factorial(num-1)

print(factorial(5))

120

In [ ]:
def isprime(num):
  for i in range(2,num):
    if num%i==0:
      return False
  return True

print(isprime(12))

False

In [ ]:
def squarelist(list):
  for i in range(0,len(list)):
    list[i]=list[i]**2
  return list

print(squarelist([1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
Dict1={3:10,2:20}
Dict2={3:30,4:40}

Dict1.update(Dict2)
print(Dict1)

for value in Dict2:
  Dict1[value]=Dict2[value]

print(Dict1)

{3: 30, 2: 20, 4: 40}
{3: 30, 2: 20, 4: 40}

In [ ]:
list1=[1,2,3,3,4,1,2,3]
templist=[]

for value in list1:
  if value not in templist:
    templist.append(value)


list1=templist
print(templist)

[1, 2, 3, 4]

In [ ]:
word=input()
if word==word[::-1]:
  print("palindrome")
else:
  print("not palindrome")

nin
palindrome

In [ ]:
def fibonacci(n):
  if n <= 0:
    return []
  elif n == 1:
    return [0]
  else:
    list_fib = [0, 1]
    while len(list_fib) < n:
      next_fib = list_fib[-1] + list_fib[-2]
      list_fib.append(next_fib)
    return list_fib

num_terms = int(input("Enter the number of terms for the Fibonacci sequence: "))

fib_sequence = fibonacci(num_terms)
fib_sequence

Enter the number of terms for the Fibonacci sequence: 6

[0, 1, 1, 2, 3, 5]

In [ ]:
num=input("input num or end program by pressing x ")
numberofdigit=0
sum=0
while (num!="x"):
  if (num.isdigit()):
    sum=0
    numberofdigit+=1
  else :
    print("invalid input")

  num=input("input num or end program by pressing x ")

average=sum/numberofdigit

print(f"average is {average}")

input num or end program by pressing x 4
input num or end program by pressing x 2
input num or end program by pressing x x

In [ ]:
for i in range (1,11):
  for j in range (1,11):
    print(f"{i}*{j}={i*j}")

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [ ]:
users = {}

def register():
  username = input("Enter a username: ")
  if username in users:
    print("Username already exists. Please choose a different one.")
    return
  password = input("Enter a password: ")
  users[username] = password
  print("Registration successful!")

def login():
  username = input("Enter your username: ")
  if username not in users:
    print("Username not found.")
    return
  password = input("Enter your password: ")
  if password == users[username]:
    print("Login successful!")
  else:
    print("Incorrect password.")

while True:
  print("\nChoose an option:")
  print("1. Register")
  print("2. Login")
  print("3. Exit")

  choice = input("Enter your choice: ")

  if choice == '1':
    register()
  elif choice == '2':
    login()
  elif choice == '3':
    break
  else:
    print("Invalid choice.")

In [3]:
list1=[]
num=int(input("Enter number of words "))

for i in range(0,num):
  word=input()
  list1.append(word)

dict1={}

for word in list1:
  if word in dict1:
    dict1[word]+=1
  else:
    dict1[word]=1

print(dict1)

Enter number of words 5
nigga
nigga
hi
bye
hi
{'nigga': 2, 'hi': 2, 'bye': 1}

In [5]:
def convertdegree(type,value):
  if(type=="C"):
    return (value*9/5)+32
  elif(type=="F"):
    return (value-32)*5/9
  else:
    print("invalid input")

print(convertdegree("F",100))

37.77777777777778