In [1]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print(f"Hello, {name}! You are {age} years old.")

Enter your name: areeb
Enter your age: 12
Hello, areeb! You are 12 years old.

In [3]:
a = input("Enter something: ")
try:
    b = int(a)
    print(f"The input is an integer: {b}")
except ValueError:
    try:
        value = float(a)
        print(f"The input is a float: {b}")
    except ValueError:
        print(f"The input is a string: {a}")

Enter something: 12.5
The input is a float: 12

In [4]:
my_list = ['apple', 'banana', 'cherry']
my_list.append('date')
my_list.remove('banana')
for item in my_list:
    print(item.upper())

APPLE
CHERRY
DATE

In [5]:
my_tuple = (10, 20, 30, 40)
first= my_tuple[0]
second= my_tuple[1]
print(f"First element: {first}, Second element: {second}")

First element: 10, Second element: 20

In [ ]:
students = {
    'Alice': 85,
    'Bob': 90,
    'Charlie': 78,
    'Diana': 92,
    'Eve': 88
}

print(students)

In [7]:
list1 = [1, 2, 3, 4, 5, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)
print(f"{set1}")
print(f"Union: {set1.union(set2)}")
print(f"Intersection: {set1.intersection(set2)}")
print(f"Difference (set1 - set2): {set1.difference(set2)}")

{1, 2, 3, 4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

In [8]:
number = int(input("Enter an integer: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter an integer: -14
The number is negative.
The number is even.

In [11]:
for i in range(1,50):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49

In [13]:
a = int(input("Enter a number: "))
result = 1
for i in range(2, a + 1):
        result *= i
print(result)

Enter a number: 3
6

In [15]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

number = int(input("Enter a number: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 67
67 is a prime number.

In [18]:
numbers = [1, 2, 3, 4, 5]
square = [x**2 for x in numbers]
print(square)

[1, 4, 9, 16, 25]

In [19]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merge = {**dict1, **dict2}
print(merge)

{'a': 1, 'b': 3, 'c': 4}

In [23]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

numbers = [2, 3, 1, 3, 4, 5, 4]
print(remove_duplicates(numbers))

[2, 3, 1, 4, 5]

In [24]:
ispalindrome = lambda s: s == s[::-1]
print(ispalindrome("madam"))

True

In [33]:
def fibonacci(n):
    a, b = 0, 1
    for i in range(0,n):
        print(a, end=" ")
        temp = a + b
        a = b
        b = temp

n_terms = int(input("Enter the number of terms: "))
fibonacci(n_terms)

Enter the number of terms: 5
0 1 1 2 3

In [34]:
def calculate_average():
    numbers = []
    while True:
        user_input = input("Enter a number (or 'done' to finish): ")
        if user_input.lower() == 'done':
            break
        try:
            number = float(user_input)
            numbers.append(number)
        except ValueError:
            print("Invalid input. Please enter a valid number.")

    if numbers:
        average = sum(numbers) / len(numbers)
        print(f"The average is: {average}")
    else:
        print("No numbers were entered.")

calculate_average()

Enter a number (or 'done' to finish): 5
Enter a number (or 'done' to finish): 5
Enter a number (or 'done' to finish): 6
Enter a number (or 'done' to finish): 5
Enter a number (or 'done' to finish): 7
Enter a number (or 'done' to finish): 7
Enter a number (or 'done' to finish): 4
Enter a number (or 'done' to finish): 3
Enter a number (or 'done' to finish): 3
Enter a number (or 'done' to finish): done
The average is: 5.0

In [37]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [41]:
creds = {'Areeb': 'tree',
            'Aun' : 'cake',
            'Saqib': 'most'}
username = input("Enter your username: ")
password = input("Enter your password: ")
if username in creds and creds[username] == password:
      print("Login successful")
else:
      print("Invalid credentials.")

Enter your username: g
Enter your password: k
Invalid credentials.

In [42]:
words = input("Enter a sentence: ").split()
word_count = {}
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print(word_count)

Enter a sentence: kj oh kj
{'kj': 2, 'oh': 1}

In [43]:
def temperature_converter():
    print("1. Celsius to Fahrenheit")
    print("2. Fahrenheit to Celsius")
    choice = int(input("Enter your choice (1 or 2): "))
    if choice == 1:
        celsius = float(input("Enter temperature in Celsius: "))
        fahrenheit = (celsius * 9/5) + 32
        print(f"{celsius}°C is {fahrenheit}°F")
    elif choice == 2:
        fahrenheit = float(input("Enter temperature in Fahrenheit: "))
        celsius = (fahrenheit - 32) * 5/9
        print(f"{fahrenheit}°F is {celsius}°C")
    else:
        print("Invalid choice.")
temperature_converter()

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
Enter your choice (1 or 2): 2
Enter temperature in Fahrenheit: 300
300.0°F is 148.88888888888889°C