In [ ]:
name=input("enter your name: ")
age=input("enter your age:")
print(f"hello, {name} youre {age}??")

enter your nameAJ
enter your age:20
hello, AJ youre 20??

# New Section

In [23]:
user_input = input("Enter something: ")
if user_input.isdigit():
   print(f"The input is an integer: {int(user_input)}")

elif user_input.replace(".", "", 1).isdigit() and user_input.count(".") == 1:
   print(f"The input is a float: {float(user_input)}")

elif user_input.isalpha():
   print(f"The input is a string: {user_input}")
else:
   print("The input is of unknown type")

Enter something: 53.5
The input is a float: 53.5

# New Section

In [ ]:
lists=['ahmed','dada','frg','fgtu']
lists.append('sew')
lists.remove('frg')
for item in lists:
  print(item.upper())

AHMED
DADA
FGTU
SEW

# New Section

In [ ]:
tuplee=(10,20,30,40)
first,second, *rest=tuplee
print(first)
print(second)

10
20

In [ ]:
students={"ahmed":90,
         "BAKR":80,
          "aray":70,
          "aj":60,
          "ali":50}
for name,grade in students.items():
     print(f"{name} {grade}")

ahmed 90
BAKR 80
aray 70
aj 60
ali 50

In [ ]:
first_list=list(map(int,input("Enter integers man: ").split()))
second_list=list(map(int,input("Enter integers man: ").split()))

set_first=set(first_list)
set_second=set(second_list)
print(f"Union {set_first.union(set_second)}")
print(f"Intersection {set_first.intersection(set_second)}")
print(f"Difference {set_first.difference(set_second)}")

Enter integers man: 1 2 3 4 5
Enter integers man: 6 7 8 9 10
Union {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection set()
Difference {1, 2, 3, 4, 5}

# New Section

In [6]:
number=int(input("Enter a number: "))
if number>0:
  print("positive")
elif number<0:
  print("negative")
else:
  print("zero")

if number%2==0:
  print("even")
else:
  print("odd")

Enter a number: 21
positive
odd

# New Section

In [7]:
for i in range(1, 51):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

# New Section

In [9]:
def factorial(number):
    if number < 0:
        return "Factorial is not defined for negative numbers."

    result = 1
    for i in range(1, number + 1):
        result *= i
    return result

# Example usage

print(f"Factorial of 27 is {factorial(27)}")

Enter a number to find its factorial: 27
Factorial of 27 is 10888869450418352160768000000

# New Section

In [10]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

num = int(input("Enter a number: "))
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number: 7
7 is a prime number.

# New Section

In [11]:
def square_list(nums):
    return [number**2 for number in nums]

numbers = list(map(int, input("\nEnter numbers separated by space: ").split()))
print("Squared list:", square_list(numbers))

Enter numbers separated by space: 2  4 5
Squared list: [4, 16, 25]

# New Section

In [12]:
def merge_dicts(dict1, dict2):
    merged = dict1.copy()
    merged.update(dict2)
    return merged


dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 2, "c": 30, "d": 40}


merged_dict = merge_dicts(dict1, dict2)
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'a': 1, 'b': 2, 'c': 30, 'd': 40}

# New Section

In [13]:
def remove_duplicates(lst):
    seen = set()
    unique_list = []

    for num in lst:
        if num not in seen:
            unique_list.append(num)
            seen.add(num)

    return unique_list


numbers = [1, 2, 2, 3, 4, 4, 5, 6, 3, 7]
NewList = remove_duplicates(numbers)
print("List :", NewList)

List : [1, 2, 3, 4, 5, 6, 7]

# New Section

In [17]:

def palindrome(stringg):
    stringg = stringg.lower().replace(" ", "")
    left=0
    right=len(stringg)-1
    while left<right:
       if stringg[left]==stringg[right]:
           left+=1
           right-=1
       else:
         return False
    return True

string=input(f"iNput string: ")
if palindrome(string):
    print("It's a palindrome!")
else:
    print("Not a palindrome.")

iNput string: Ahmed demha
It's a palindrome!

# New Section

In [ ]:
def fibonacci(n):
    fib_sequence = [0, 1]
    if n == 1:
        return [0]
    for i in range(2, n):
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence

n = int(input("number of Fibonacci terms: "))
print("Fibonacci Sequence:", fibonacci(n))

# New Section

In [ ]:
def calculate_average():
    numbers = []
    while True:
        num = input("Enter a number (or type 'done'): ")
        if num.lower() == "done":
            break
        try:
            numbers.append(float(num))
        except ValueError:
            print("Invalid input. Please enter a valid number.")

    if numbers:
        print(f"Average: {sum(numbers) / len(numbers):.2f}")
    else:
        print("No numbers were entered.")

calculate_average()

# New Section

In [20]:
for i in range(1, 11):
  print(f"{i}'s table:")
  for j in range(1, 11):
      print(f"{i * j:4}", end=" ")
  print()

1's table:
   1    2    3    4    5    6    7    8    9   10 2's table:
   2    4    6    8   10   12   14   16   18   20 3's table:
   3    6    9   12   15   18   21   24   27   30 4's table:
   4    8   12   16   20   24   28   32   36   40 5's table:
   5   10   15   20   25   30   35   40   45   50 6's table:
   6   12   18   24   30   36   42   48   54   60 7's table:
   7   14   21   28   35   42   49   56   63   70 8's table:
   8   16   24   32   40   48   56   64   72   80 9's table:
   9   18   27   36   45   54   63   72   81   90 10's table:
  10   20   30   40   50   60   70   80   90  100

# New Section

In [21]:
users = {}

def register():
    username = input("Enter a new username: ")
    if username in users:
        print("Username already exists. Try another.")
        return
    password = input("Enter a password: ")
    users[username] = password
    print("Registration successful!")

def login():
    username = input("Enter username: ")
    password = input("Enter password: ")
    if users.get(username) == password:
        print("Login successful! Welcome,", username)
    else:
        print("Invalid username or password.")

while True:
    choice = input("\n1. Register\n2. Login\n3. Exit\nChoose an option: ")
    if choice == "1":
        register()
    elif choice == "2":
        login()
    elif choice == "3":
        break
    else:
        print("Invalid choice. Try again.")

KeyboardInterrupt: Interrupted by user

# New Section

In [ ]:
def count_words():
    words = input("Enter words separated by spaces: ").split()
    word_count = {}

    for word in words:
        word_count[word] = word_count.get(word, 0) + 1

    print("\nWord Frequency:")
    for word, count in word_count.items():
        print(f"{word}: {count}")

count_words()

# New Section

In [ ]:
def convert_temperature():
    choice = input("Convert:\n1. Celsius to Fahrenheit\n2. Fahrenheit to Celsius\nChoose (1/2): ")

    if choice == "1":
        celsius = float(input("Enter temperature in Celsius: "))
        fahrenheit = (celsius * 9/5) + 32
        print(f"{celsius}째C is {fahrenheit}째F")

    elif choice == "2":
        fahrenheit = float(input("Enter temperature in Fahrenheit: "))
        celsius = (fahrenheit - 32) * 5/9
        print(f"{fahrenheit}째F is {celsius:.2f}째C")

    else:
        print("Invalid choice.")

convert_temperature()