<a href="https://colab.research.google.com/github/aneeb02/AI-Lab1/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Q1
name = input("Enter Name:")
age = input("Enter Age:")

print(f"Hello {name}! You are {age} years old!")

Enter Name:aneeb
Enter Age:22
Hello aneeb You are 22 years old!

In [4]:
# Q2
def is_int_or_float(s):
  if s.isdigit():
    return "Integer"
  elif "." in s and s.replace(".", "", 1).isdigit():
    return "Float"
  else:
    return "Neither"

string1 = "123"
string2 = "3.14"
string3 = "hello"

print(is_int_or_float(string1))  # Output: Integer
print(is_int_or_float(string2))  # Output: Float
print(is_int_or_float(string3))  # Output: Neither

Enter anything: 123412
<class 'str'>

In [7]:
# Q3
l = [1,4,56,7,21]
print(l)
l.append(3)
l.insert(1,9)
l.remove(21)
print(l)

[1, 4, 56, 7, 21]
[1, 9, 4, 56, 7, 3]

In [10]:
# Q4
t = ('apple', 'banana', 'grapes')
print(t)
(green, yellow, red) = t

print(green)
print(yellow)
print(red)

('apple', 'banana', 'grapes')
apple
banana
grapes

In [11]:
# Q5
myDict = {
  "Aneeb":"A",
  "Ramisha":"A",
  "Aadil":"A",
  "Huzz":"F",
  "ap":"U"
}

print(myDict)

{'Aneeb': 'A', 'Ramisha': 'A', 'Aadil': 'A', 'Huzz': 'F', 'ap': 'U'}

In [20]:
# Q6
list1 = input("Enter a list elements separated by space ")
user_list1 = list1.split()
for i, number in enumerate(user_list1):
  user_list1[i] = int(number)
print(user_list1)
set1= set(user_list1)

list2 = input("Enter a list elements separated by space ")
user_list2 = list2.split()
for i, number in enumerate(user_list2):
  user_list2[i] = int(number)
print(user_list2)
set2 = set(user_list2)

print("Difference: ",set1.difference(set2))
print("Intersection: ", set1.intersection(set2))
print("Union: ", set1.union(set2))

Enter a list elements separated by space 2 4 6 8 9
[2, 4, 6, 8, 9]
Enter a list elements separated by space 1 3 5 7 9
[1, 3, 5, 7, 9]
Difference:  {8, 2, 4, 6}
Intersection:  {9}
Union:  {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [23]:
# Q7
number = input("Enter a number:")
number = int(number)

print("Number:", number)
print("Even" if number % 2 == 0 else "Odd")
print("Positive" if number > 0 else "Negative" if number <0 else "Zero")

Enter a number:-90
Number: -90
Even
Negative

In [26]:
# Q8
for i in range(1,51):
  print("FizzBuzz" if i%3 == 0 and i%5 == 0 else "Fizz" if i%3 == 0 else "Buzz" if i%5 == 0 else i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [33]:
# Q9
number = input("Enter number:")
number = int(number)
fact = number
for i in range(number,0,-1):
  print(i)

Enter number:4
96

In [40]:
# Q10
import math
number = int(input("enter number:"))
isPrime = True;
for i in range(2,int(math.sqrt(number))):
  if (number%i == 0):
    isPrime = False
print("Prime" if isPrime else "Not Prime")

enter number:12
Not Prime

In [42]:
# Q11
list1 = input("Enter a list of numbers: ")
user_list1 = list1.split()
for i, number in enumerate(user_list1):
  user_list1[i] = int(number)
squares = [number**2 for number in user_list1]
print(squares)

Enter a list of numbers: 1 4 5 6
[1, 16, 25, 36]

In [81]:
# Q12
myDict = {
  "Aneeb":"A",
  "Ramisha":"A",
  "Aadil":"A",
  "Huzz":"F",
  "ap":"U"
}

yourDict = {
  "Aneeb":"A",
  "Ramisha":"A",
  "Aadil":"A",
  "idiot": "B",
  "adbul": "C"
}

mergedDict = myDict.copy()
mergedDict.update(yourDict)

print(mergedDict)
print(yourDict)

{'Aneeb': 'A', 'Ramisha': 'A', 'Aadil': 'A', 'Huzz': 'F', 'ap': 'U', 'idiot': 'B', 'adbul': 'C'}
{'Aneeb': 'A', 'Ramisha': 'A', 'Aadil': 'A', 'idiot': 'B', 'adbul': 'C'}

In [49]:
# Q13
list1 = [1,4,7,9,3,1,6,3,5,2]
nodups = []
for number in list1:
  if number not in nodups:
    nodups.append(number)
print(nodups)

[1, 4, 7, 9, 3, 6, 5, 2]

In [55]:
# Q14
l1 = "Dad"
l2 = lambda s: s == s[::-1]
print(l2(l1))

False

In [57]:
# Q15
def fib(number):
  a,b = 0,1
  fibs = []

  for i in range(number):
    fibs.append(a)
    a,b = b, a+b

  return fibs

n = 15
print(fib(n))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [64]:
# Q16
numbers = input("Enter numbers: ")
numbers = numbers.split()
print(numbers)

nums = [float(number) for number in numbers]
print(nums)

sum = 0
for num in nums:
  sum += num

sum = sum/len(nums)
print(sum)

Enter numbers: 1 2 3 4 5
['1', '2', '3', '4', '5']
[1.0, 2.0, 3.0, 4.0, 5.0]
3.0

In [68]:
# Q17

for i in range(1,11):
  for j in range(1,11):
    print(f'{i} x {j} = {i*j}')
  print('\n')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [74]:
# Q18
myDB = [
    {"username": "aneeb02", "password": "ace"},
    {"username": "user123", "password": "pass123"},
]

username = input("Enter Username:")
password = input("Enter Password:")

login_successful = False

for user in myDB:
    if user["username"] == username and user["password"] == password:
        login_successful = True
        break
if login_successful:
    print("Login Successful")
else:
    print("Login Failed")

Enter Username:aneeb-2
Enter Password:ace
Login Failed

In [78]:
# Q19
words = input("Enter words: ")
word_counts = {}

for word in words.split():
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

print(word_counts)

Enter words: apple apple tomato apple tomato blender
{'apple': 3, 'tomato': 2, 'blender': 1}

In [79]:
# Q20
def cToF(temp):
  return (temp * 9/5) + 32


def FToC(temp):
  return (temp-32) * 5/9


temp = 15
print(cToF(temp))
print(FToC(temp))

59.0
-9.444444444444445