In [9]:
#Hello, Python!
name=input("Enter your name:")
age=int(input("Enter your age:"))
print("Hi",name,"Welcome to python basics")

Enter your name:Eiman
Enter your age:21
Hi Eiman Welcome to python basics

In [ ]:
#Data Type Identification
str1 = input()
if str1.isdigit():
    print("String is a number")
else:
    try:
        float(str1)
        print("String is decimal")
    except ValueError:
        print("String is a string")

12.5
String is decimal

In [ ]:
#List Operations
fruits=['apple','banana','orange']
for fruit in fruits:
    print(fruit.upper())

print("\nAdding mango")
fruits.append("mango")
for fruit in fruits:
    print(fruit.upper())

print("\nRemoving apple")
fruits.remove('apple')
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
ORANGE

Addingt mango
APPLE
BANANA
ORANGE
MANGO

Removing apple
BANANA
ORANGE
MANGO

In [ ]:
#Tuple Unpacking
t1 = (10, 20)
v1, v2=t1

print("Element 1:", v1)
print("Element 2:", v2)

Element 1: 10
Element 2: 20

In [ ]:
#Dictionary Management
students = {}
for i in range(5):
  name=input("Enter name:")
  grade=int(input("Enter grade:"))
  students[name]=grade

print(students)

{'Shaher': 'A', 'Mahad': 'A', 'Taha': 'A', 'Eiman': 'A+', 'Rohaim': 'A+'}

In [ ]:
#Set Operations
list1=[]
list2=[]
print("Content for list1")
for i in range(4):
  list1.append(int(input("Enter number:")))

print("\nContent for list2")
for j in range(4):
  list2.append(int(input("Enter number:")))

print("\nUnion: ")
list3=list1
list3.extend(list2)
print(list3)

print("\nIntersection: ")
list4=[]
for i in list1:
  if i in list2:
    list4.append(i)
print(list4)

print("\nDifference: ")
list5=[]
for i in list1:
  if i not in list2:
    list5.append(i)
print(list5)

Enter number:1
Enter number:1
Enter number:2
Enter number:3
Enter number:6
Enter number:2
Enter number:1
Enter number:2

Union:
[1, 1, 2, 3, 6, 2, 1, 2]

Intersection:
[1, 1, 2, 6, 2, 1, 2]

Difference:
[3]

In [ ]:
# Conditional Statements: Number Checker

numb=int(input("Enter number:"))

if(numb<0):
  print("Number is negative")
elif(numb==0):
  print("Number is zero")
else:
  print("Number is positive")


if(numb%2==0):
  print("Number is even")
else:
  print("Number is odd")

Enter number:5
Number is positive
Number is odd

In [ ]:
# Function: Factorial Calculator

def fact(n):
  f=1
  for i in range(1,n+1):
    f=f*i
  return f

numb=int(input("Enter number:"))
if(numb<0):
  print("Factorial does not exist")
else:
  f=fact(numb)
  print("Factorial of",numb,"is:",f)

Enter number:4
Factorial of 4 is: 24

In [ ]:
#FizzBuzz
for i in range(1,51):
  if(i%3==0 and i%5==0):
    print("FizzBuzz")
  elif(i%5==0):
    print("Buzz")
  elif(i%3==0):
    print("Fizz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
#Prime Number Checker
def isPrime(n):
  for i in range(2,n):
    if(n%i==0):
      return False
  return True

numb=int(input("Enter number:"))
if(isPrime(numb)):
  print("Number is prime")
else:
  print("Number is not prime")

Enter number:7
Number is prime

In [ ]:
# List Comprehension: Squares

def Square(numbs):
  squares=[]
  for i in numbs:
    squares.append(i*i)
  return squares

numbs=[1,2,3,4,5]
squares=Square(numbs)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# Merge Dictionaries

dict1={
    "Taha":"21",
    "Shaher":"20",
    "Mahad":"21",
    "Eiman":"20",
}
dict2={
    "Rohaim":"20",
    "Taha":"25"
}

dict1.update(dict2)
print(dict1)

{'Taha': '25', 'Shaher': '20', 'Mahad': '21', 'Eiman': '20', 'Rohaim': '20'}

In [ ]:
# Remove Duplicates from a List

list1=[1,2,3,4,5,6,1,2,6,4]
list2=[]
for i in list1:
  if i not in list2:
    list2.append(i)
list1=set(  list2  )
print(list2)

[1, 2, 3, 4, 5, 6]

In [ ]:
# Palindrome Checker
word=input("Enter word:")

X=lambda word:word[::-1]
if(word==X(word)):
  print("Palindrome")
else:
  print("Not Palindrome")

Enter word:hi\
Not Palindrome

In [ ]:
# Fibonacci Sequence Generator
def fibo(n):
    sequence = []
    a, b = 1, 1
    for _ in range(n):
        sequence.append(a)
        a, b = b, a + b
    return sequence

num_terms = int(input("Enter the number of terms: "))
fib_sequence = fibo(num_terms)
print(fib_sequence)

Enter the number of terms: 6
[1, 1, 2, 3, 5, 8]

In [2]:
# Average Calculator with Validation

sum=0
for i in range(5):
  a=input("Enter number")
  if a.isdigit():
    a=int(a)
    sum=sum+a
  else:
    continue

print("Average: ",sum/5)

Enter number1
Enter number2
Enter number3
Enter number4
Enter number5
Average:  3.0

In [3]:
# Nested Loops: Multiplication Table
for i in range(11):
  for j in range(11):
    print(i,"*",j,"=",i*j)
  print("\n")

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0
0 * 10 = 0


1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60


7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80


9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90


10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [5]:
# User Registration System

users={}
state=0
while(state!=1):
  name=input("Enter your name : ")
  password=input("Enter password : ")
  users[name]=password
  print(users)
  state=int(input("Enter 1 to exit and 0 to continue registering"))

Enter your name : Eiman
Enter password : eiman123
{'Eiman': 'eiman123'}
Enter 1 to exit and 0 to continue registering0
Enter your name : Shaher
Enter password : shaher123
{'Eiman': 'eiman123', 'Shaher': 'shaher123'}
Enter 1 to exit and 0 to continue registering1

In [7]:
# Counting Elements with a Dictionary
wordCount={}
word=input("Enter your word of 0 to exit : ")
while(word!="0"):
  if word in wordCount:
    wordCount[word]+=1
  else:
    wordCount[word]=1

  print(wordCount)
  word=input("Enter your word of 0 to exit : ")

Enter your word of 0 to exit : hi
{'hi': 1}
Enter your word of 0 to exit : hi
{'hi': 2}
Enter your word of 0 to exit : hello
{'hi': 2, 'hello': 1}
Enter your word of 0 to exit : hey
{'hi': 2, 'hello': 1, 'hey': 1}
Enter your word of 0 to exit : hey
{'hi': 2, 'hello': 1, 'hey': 2}
Enter your word of 0 to exit : hi
{'hi': 3, 'hello': 1, 'hey': 2}
Enter your word of 0 to exit : 0

In [8]:
# Temperature Converter
def TemperatureConverter():
  type=input("How do you wish to convert given temparature?\n1.Celsius to Fahrenheit\n2.Fahrenheit to Celsius\nEnter your choice:")
  if type=="1":
    t1=float(input("Enter temperature in Celsius:"))
    t2=(t1*9/5)+32
    print("Temperature in Fahrenheit:",t2)
  elif type=="2":
    t1=float(input("Enter temperature in Fahrenheit:"))
    t2=(t1-32)*5/9
    print("Temperature in Celsius:",t2)
  else:
    print("Invalid choice")

TemperatureConverter()

How do you wish to convert given temparature?
1.Celsius to Fahrenheit
2.Fahrenheit to Celsius
Enter your choice:1
Enter temperature in Celsius:23.5
Temperature in Fahrenheit: 74.3