**Q1**

In [1]:
name=input("enter name: ")
age=input("enter age: ")
print(f"hello {name}. your age is {age}")

enter name: aun
enter age: 22
hello aun. your age is 22

In [2]:
a = input("enter input")
try:
  a= float(a)
  print("integer entered")
except:
  print("stirng entered")

enter input1
integer entered

In [4]:
l1= ['aun','saqib']
l1.append('areeb')
l1.remove('areeb')
for i in l1:
  print(i.upper())

AUN
SAQIB

In [5]:
t1=(1,2,3)
a=t1[0]
b=t1[1]
print(a)
print(b)

1
2

In [7]:
dict={
    'aun': 'B',
    'areeb': 'A',
    'saqib': " A",
}

for i in dict.keys():
  print(f"{i}: {dict[i]}")

aun: B
areeb: A
saqib:  A

In [8]:
l1=[4,6,2]
l2=[2,8,4]

l1=set(l1)
l2=set(l2)
print(l1.union(l2))

print (l1.intersection(l2))
print(l1.difference(l2))

{2, 4, 6, 8}
{2, 4}
{6}

In [9]:
num= int(input())
if num<0:
  print ("num is negative")
elif num>0:
  print ("num is positive")
else:
  print('num is zero')

if (num%2==0):
  print("num is even")
else:
  print("num is odd")

3
num is positive
num is odd

In [10]:
for i in range(1, 51):
  if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 3 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz

In [15]:
num= int(input())
factorial=1
for i in range (1,num+1):
  factorial=factorial*i
print(factorial)

5
120

In [19]:
def is_prime(number):
  if number <= 1:
    return False
  for i in range (2, int(number**0.5)+1):
    if number % i == 0:
      return False
  return True

number = int(input("Enter a number: "))
if is_prime(number):
  print(f"{number} is a prime number.")
else:
  print(f"{number} is not a prime number.")

Enter a number: 67
67 is a prime number.

In [21]:
def square_list(numbers):
    return [x**2 for x in numbers]
nums=[1,2,3,4,5]
for i in square_list(nums):
  print(i)

1
4
9
16
25

In [24]:
dict1 = {'a': 3, 'b': 7}
dict2 = {'b': 3, 'c': 9}

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [26]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

numbers = [5,3,6,2,7,34,6,4,4,32,67,5,8,3,9,2,3,5]
print(remove_duplicates(numbers))

[5, 3, 6, 2, 7, 34, 4, 32, 67, 8, 9]

In [28]:
is_palindrome = lambda s: s == s[::-1]


string = 'ghg'


if is_palindrome(string):
  print(f"{string} is a palindrome.")
else:
  print(f"{string} is not a palindrome.")

ghg is a palindrome.

In [30]:

def fibonacci_sequence(n):

    if n <= 0:
        return []
    elif n == 1:
        return [0]
    else:
        list_fib = [0, 1]
        while len(list_fib) < n:
            next_fib = list_fib[-1] + list_fib[-2]
            list_fib.append(next_fib)
        return list_fib


n = 10
fib_numbers = fibonacci_sequence(n)
fib_numbers

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [31]:
def calculate_average():
    numbers = []
    while True:
        user_input = input("Enter a number or '.' to finish: ")
        if user_input.lower() == '.':
            break
        try:
            number = float(user_input)
            numbers.append(number)
        except ValueError:
            print("Invalid input. Please enter a valid number.")

    if numbers:
        average = sum(numbers) / len(numbers)
        print(f"average= {average}")
    else:
        print("list empty.")

calculate_average()

Enter a number or '.' to finish: 1
Enter a number or '.' to finish: 2
Enter a number or '.' to finish: .
average= 1.5

In [34]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [35]:
logins={
    'aun':'pass1',
    'areeb':'pass2',
    'saqib':'pass3',
}
username=input("enter username: ")
password=input("enter password: ")
if username in logins and logins[username]==password:
  print("login successful")
else:
  print("login failed")

enter username: aun
enter password: f
login failed

In [36]:
l1=['a','the','fog','a','fog','a']
count={}
for i in l1:
  if i in count:
    count[i]+=1
  else:
    count[i]=1
print(count)

{'a': 3, 'the': 1, 'fog': 2}

In [38]:
temp=float(input('enter temp:'))
conv=input('enter C to convert to celsius. F to convert to fahrenheit:')
if conv=='C':
  print(5/9*(temp-32))
else:
  print((9/5)*temp + 32)

enter temp:56
enter C to convert to celsius. F to convert to fahrenheit:C
13.333333333333334